In [77]:
import pandas as  pd
df = pd.read_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\match_summary.csv", low_memory=False)
#df.drop(columns="Unnamed: 0", inplace=True)
print("Length of Data Frame:", len(df))
df.head(1)

Length of Data Frame: 17235

,balls_per_over,city,dates,event.match_number,event.name,gender,match_type,match_type_number,officials.match_referees,officials.reserve_umpires,...,event.sub_name,outcome.result,outcome.method,missing,event.stage,event.group,outcome.eliminator,toss.uncontested,bowl_out,outcome.bowl_out
0,6,Perth,"['2016-11-03', '2016-11-04', '2016-11-05', '20...",1.0,South Africa in Australia Test Series,male,Test,2230.0,['AJ Pycroft'],['SJ Nogajski'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df.columns

Index(['balls_per_over', 'city', 'dates', 'event.match_number', 'event.name',
       'gender', 'match_type', 'match_type_number', 'officials.match_referees',
       'officials.reserve_umpires', 'officials.tv_umpires',
       'officials.umpires', 'outcome.by.runs', 'outcome.winner',
       'player_of_match', 'season', 'team_type', 'teams', 'toss.decision',
       'toss.winner', 'venue', 'match_id', 'outcome.by.innings',
       'outcome.by.wickets', 'overs', 'event.sub_name', 'outcome.result',
       'outcome.method', 'missing', 'event.stage', 'event.group',
       'outcome.eliminator', 'toss.uncontested', 'bowl_out',
       'outcome.bowl_out'],
      dtype='object')

In [79]:
df.drop(columns=['balls_per_over','outcome.by.runs',"match_type_number", 'overs','outcome.by.innings','event.match_number','outcome.by.wickets', 'officials.umpires','outcome.method',  'missing',  
                 'officials.reserve_umpires', 'officials.match_referees',"team_type", 'bowl_out',"officials.tv_umpires","event.stage",'event.sub_name', "player_of_match",'event.stage', 'event.group','toss.uncontested',
                 'outcome.bowl_out'], inplace=True)

In [80]:
df.head()

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
0,Perth,"['2016-11-03', '2016-11-04', '2016-11-05', '20...",South Africa in Australia Test Series,male,Test,South Africa,2016/17,"['Australia', 'South Africa']",bat,South Africa,Western Australia Cricket Association Ground,1000851,NaN,NaN
1,Hobart,"['2016-11-12', '2016-11-13', '2016-11-14', '20...",South Africa in Australia Test Series,male,Test,South Africa,2016/17,"['Australia', 'South Africa']",field,South Africa,Bellerive Oval,1000853,NaN,NaN
2,NaN,"['2016-11-24', '2016-11-25', '2016-11-26', '20...",South Africa in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'South Africa']",bat,South Africa,Adelaide Oval,1000855,NaN,NaN
3,Brisbane,"['2016-12-15', '2016-12-16', '2016-12-17', '20...",Pakistan in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'Pakistan']",bat,Australia,"Brisbane Cricket Ground, Woolloongabba",1000881,NaN,NaN
4,NaN,"['2016-12-26', '2016-12-27', '2016-12-28', '20...",Pakistan in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'Pakistan']",bat,Pakistan,Melbourne Cricket Ground,1000883,NaN,NaN

In [81]:
df[df["dates"] == "['2020-10-03', '2020-10-04']"]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
5077,Birmingham,"['2020-10-03', '2020-10-04']",Vitality Blast,male,T20,Surrey,2020,"['Gloucestershire', 'Surrey']",field,Surrey,Edgbaston,1229397,NaN,NaN

### **Creating Date Column**

In [82]:
# Clean up the dates column
df['dates'] = df['dates'].str.strip("[]").str.replace("'", "").str.strip()

# Extract the latest date in cases where there are multiple dates
def extract_latest_date(date_str):
    dates = date_str.split(', ')
    if len(dates) > 1:
        return dates[-1]
    else:
        return dates[0]

df['dates'] = df['dates'].apply(extract_latest_date)

# Convert the dates to datetime format
df['dates'] = pd.to_datetime(df['dates'], errors='coerce')

# Sort DataFrame by dates
df = df.sort_values(by="dates", ascending=False)

df[:10]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
11881,Nairobi,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,2024,"['Malawi', 'Rwanda']",bat,Malawi,"Sikh Union Club Ground, Nairobi",1441133,NaN,NaN
11853,Hambantota,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,"['Sri Lanka', 'West Indies']",field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436891,NaN,NaN
11300,Providence,2024-06-27,ICC Men's T20 World Cup,male,T20,India,2024,"['India', 'England']",field,England,"Providence Stadium, Guyana",1415754,NaN,NaN
11028,Canterbury,2024-06-26,County Championship,male,MDM,Lancashire,2024,"['Kent', 'Lancashire']",field,Lancashire,"St Lawrence Ground, Canterbury",1410229,NaN,NaN
11061,Brighton,2024-06-26,County Championship,male,MDM,Sussex,2024,"['Sussex', 'Leicestershire']",field,Leicestershire,"County Ground, Hove",1410293,NaN,NaN
11060,London,2024-06-26,County Championship,male,MDM,Middlesex,2024,"['Middlesex', 'Derbyshire']",bat,Middlesex,"Lord's, London",1410292,NaN,NaN
11059,Cardiff,2024-06-26,County Championship,male,MDM,NaN,2024,"['Northamptonshire', 'Glamorgan']",bat,Northamptonshire,"Sophia Gardens, Cardiff",1410291,draw,NaN
11852,Hambantota,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,"['Sri Lanka', 'West Indies']",field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436890,NaN,NaN
10734,Chester-le-Street,2024-06-26,New Zealand Women tour of England,female,ODI,England,2024,"['New Zealand', 'England']",bat,New Zealand,"Riverside Ground, Chester-le-Street",1398274,NaN,NaN
11027,Chelmsford,2024-06-26,County Championship,male,MDM,NaN,2024,"['Durham', 'Essex']",bat,Durham,"County Ground, Chelmsford",1410228,draw,NaN

In [83]:
df[df["match_id"].duplicated()]

Empty DataFrame
Columns: [city, dates, event.name, gender, match_type, outcome.winner, season, teams, toss.decision, toss.winner, venue, match_id, outcome.result, outcome.eliminator]
Index: []

In [84]:
# Drop duplicates based on 'match_id' and reset the index in the original DataFrame
df.drop_duplicates(subset="match_id", inplace=True)
df.reset_index(drop=True, inplace=True)

# Print the resulting DataFrame to verify
df[:10]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
0,Nairobi,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,2024,"['Malawi', 'Rwanda']",bat,Malawi,"Sikh Union Club Ground, Nairobi",1441133,NaN,NaN
1,Hambantota,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,"['Sri Lanka', 'West Indies']",field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436891,NaN,NaN
2,Providence,2024-06-27,ICC Men's T20 World Cup,male,T20,India,2024,"['India', 'England']",field,England,"Providence Stadium, Guyana",1415754,NaN,NaN
3,Canterbury,2024-06-26,County Championship,male,MDM,Lancashire,2024,"['Kent', 'Lancashire']",field,Lancashire,"St Lawrence Ground, Canterbury",1410229,NaN,NaN
4,Brighton,2024-06-26,County Championship,male,MDM,Sussex,2024,"['Sussex', 'Leicestershire']",field,Leicestershire,"County Ground, Hove",1410293,NaN,NaN
5,London,2024-06-26,County Championship,male,MDM,Middlesex,2024,"['Middlesex', 'Derbyshire']",bat,Middlesex,"Lord's, London",1410292,NaN,NaN
6,Cardiff,2024-06-26,County Championship,male,MDM,NaN,2024,"['Northamptonshire', 'Glamorgan']",bat,Northamptonshire,"Sophia Gardens, Cardiff",1410291,draw,NaN
7,Hambantota,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,"['Sri Lanka', 'West Indies']",field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436890,NaN,NaN
8,Chester-le-Street,2024-06-26,New Zealand Women tour of England,female,ODI,England,2024,"['New Zealand', 'England']",bat,New Zealand,"Riverside Ground, Chester-le-Street",1398274,NaN,NaN
9,Chelmsford,2024-06-26,County Championship,male,MDM,NaN,2024,"['Durham', 'Essex']",bat,Durham,"County Ground, Chelmsford",1410228,draw,NaN

In [85]:
df["dates"].dtype

dtype('<M8[ns]')

### **Seasons**

In [86]:
df["season"].unique()

array(['2024', '2023/24', '2023', '2022/23', '2022', '2021/22', '2021',
       '2020/21', '2020', '2019/20', '2019', '2018/19', '2018', '2017/18',
       '2017', '2016/17', '2016', '2015/16', '2015', '2014/15', '2014',
       '2013/14', '2013', '2012/13', '2012', '2011/12', '2011', '2010/11',
       '2010', '2009/10', '2009', '2008/09', '2008', '2007/08', '2007',
       '2006/07', '2006', '2005/06', '2005', '2004/05', '2004', '2003/04',
       '2003', '2002/03'], dtype=object)

In [87]:
df["season"] = df["dates"].dt.year

In [88]:
df["season"].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003,
       2002])

### **Create team columns**

In [89]:
# Splitting the teams into team1 and team2 columns
teams = df['teams'].str.strip("[]").str.replace("'", "").str.split(', ', expand=True)
df['team1'] = teams[0]
df['team2'] = teams[1]

# Dropping the original 'teams' column
df.drop('teams', axis=1, inplace=True)

df.reset_index(drop=True, inplace=True)
df.head()

,city,dates,event.name,gender,match_type,outcome.winner,season,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator,team1,team2
0,Nairobi,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,2024,bat,Malawi,"Sikh Union Club Ground, Nairobi",1441133,NaN,NaN,Malawi,Rwanda
1,Hambantota,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436891,NaN,NaN,Sri Lanka,West Indies
2,Providence,2024-06-27,ICC Men's T20 World Cup,male,T20,India,2024,field,England,"Providence Stadium, Guyana",1415754,NaN,NaN,India,England
3,Canterbury,2024-06-26,County Championship,male,MDM,Lancashire,2024,field,Lancashire,"St Lawrence Ground, Canterbury",1410229,NaN,NaN,Kent,Lancashire
4,Brighton,2024-06-26,County Championship,male,MDM,Sussex,2024,field,Leicestershire,"County Ground, Hove",1410293,NaN,NaN,Sussex,Leicestershire

In [90]:
df.columns

Index(['city', 'dates', 'event.name', 'gender', 'match_type', 'outcome.winner',
       'season', 'toss.decision', 'toss.winner', 'venue', 'match_id',
       'outcome.result', 'outcome.eliminator', 'team1', 'team2'],
      dtype='object')

### **Check Unique Values & Clean the Data**

In [91]:
print("No of Teams:",df["team1"].nunique())
df["team1"].unique()[:10]

No of Teams: 345

array(['Malawi', 'Sri Lanka', 'India', 'Kent', 'Sussex', 'Middlesex',
       'Northamptonshire', 'New Zealand', 'Durham', 'Nottinghamshire'],
      dtype=object)

In [92]:
print("No of Teams:",df["team1"].nunique())
df["team2"].unique()[:10]

No of Teams: 345

array(['Rwanda', 'West Indies', 'England', 'Lancashire', 'Leicestershire',
       'Derbyshire', 'Glamorgan', 'Essex', 'Somerset', 'Warwickshire'],
      dtype=object)

In [93]:
print("No of Outcomes:",df["team1"].nunique())
df["outcome.winner"].unique()[:10]

No of Outcomes: 345

array(['Malawi', 'West Indies', 'India', 'Lancashire', 'Sussex',
       'Middlesex', nan, 'England', 'Surrey', 'Yorkshire'], dtype=object)

In [94]:
print("Toss Decisions:",df["toss.decision"].nunique())
df["toss.decision"].unique()

Toss Decisions: 2

array(['bat', 'field'], dtype=object)

In [95]:
print("Venues: ", df["venue"].nunique())
sorted(df["venue"].unique())[:10]

Venues:  800

[' Emerald Heights International School Ground',
 '7he Sevens Stadium, Dubai',
 'ACA Stadium, Barsapara',
 'ACA Stadium,Mangalagiri',
 'AMI Stadium',
 'Abhimanyu Cricket Academy, Dehradun',
 'Abu Dhabi Oval 1',
 'Abu Dhabi Oval 2',
 'Achimota Senior Secondary School A Field, Accra',
 'Achimota Senior Secondary School B Field, Accra']

In [96]:
df["match_type"].unique()

array(['T20', 'MDM', 'ODI', 'ODM', 'Test', 'IT20'], dtype=object)

In [97]:
# Display the updated DataFrame
print("Venues: ", df["venue"].nunique())
df[:5]

Venues:  800

,city,dates,event.name,gender,match_type,outcome.winner,season,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator,team1,team2
0,Nairobi,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,2024,bat,Malawi,"Sikh Union Club Ground, Nairobi",1441133,NaN,NaN,Malawi,Rwanda
1,Hambantota,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,West Indies,2024,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,1436891,NaN,NaN,Sri Lanka,West Indies
2,Providence,2024-06-27,ICC Men's T20 World Cup,male,T20,India,2024,field,England,"Providence Stadium, Guyana",1415754,NaN,NaN,India,England
3,Canterbury,2024-06-26,County Championship,male,MDM,Lancashire,2024,field,Lancashire,"St Lawrence Ground, Canterbury",1410229,NaN,NaN,Kent,Lancashire
4,Brighton,2024-06-26,County Championship,male,MDM,Sussex,2024,field,Leicestershire,"County Ground, Hove",1410293,NaN,NaN,Sussex,Leicestershire

In [98]:
df.columns

Index(['city', 'dates', 'event.name', 'gender', 'match_type', 'outcome.winner',
       'season', 'toss.decision', 'toss.winner', 'venue', 'match_id',
       'outcome.result', 'outcome.eliminator', 'team1', 'team2'],
      dtype='object')

In [99]:
df = df[['match_id','season', 'dates','event.name', 'gender','match_type', 'team1', 'team2', 'toss.winner','toss.decision',  'outcome.winner', 'outcome.result', 'outcome.eliminator', 'venue', "city"]]

In [100]:
df.columns = ['match_id', 'season', 'match_date', 'event_name', 'gender', 'match_type', 'team1', 'team2','toss_winner', 'toss_decision', 'winner', 'outcome_result', 'outcome_eliminator','ground', 'city' ]

In [101]:
df.isnull().sum()

match_id                  0
season                    0
match_date                0
event_name               92
gender                    0
match_type                0
team1                     0
team2                     0
toss_winner               0
toss_decision             0
winner                 1306
outcome_result        15929
outcome_eliminator    17151
ground                    0
city                   1699
dtype: int64

### **Winner**

In [102]:
df[df['winner'].isnull()]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,outcome_result,outcome_eliminator,ground,city
6,1410291,2024,2024-06-26,County Championship,male,MDM,Northamptonshire,Glamorgan,Northamptonshire,bat,NaN,draw,NaN,"Sophia Gardens, Cardiff",Cardiff
9,1410228,2024,2024-06-26,County Championship,male,MDM,Durham,Essex,Durham,bat,NaN,draw,NaN,"County Ground, Chelmsford",Chelmsford
10,1410230,2024,2024-06-26,County Championship,male,MDM,Nottinghamshire,Somerset,Nottinghamshire,bat,NaN,draw,NaN,"Trent Bridge, Nottingham",Nottingham
11,1410231,2024,2024-06-26,County Championship,male,MDM,Hampshire,Warwickshire,Hampshire,bat,NaN,draw,NaN,"Edgbaston, Birmingham",Birmingham
38,1410438,2024,2024-06-21,Vitality Blast,male,T20,Northamptonshire,Leicestershire,Northamptonshire,bat,NaN,tie,NaN,"County Ground, Northampton",Northampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17159,66356,2003,2003-04-21,TVS Cup (Bangladesh),male,ODI,India,South Africa,India,bat,NaN,no result,NaN,"Bangabandhu National Stadium, Dhaka",Dhaka
17179,65273,2003,2003-03-04,ICC World Cup,male,ODI,Pakistan,Zimbabwe,Pakistan,bat,NaN,no result,NaN,"Queens Sports Club, Bulawayo",Bulawayo
17182,65272,2003,2003-03-03,ICC World Cup,male,ODI,Sri Lanka,South Africa,Sri Lanka,bat,NaN,tie,NaN,"Kingsmead, Durban",Durban
17192,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,NaN,draw,NaN,"Bankstown Oval, Sydney",Sydney
17203,65249,2003,2003-02-18,ICC World Cup,male,ODI,West Indies,Bangladesh,Bangladesh,field,NaN,no result,NaN,"Willowmoore Park, Benoni",Benoni

In [103]:
# Check if "winner" column is null, and if so, fill it with values from "outcome_eliminator"
df["winner"] = df["winner"].fillna(df["outcome_eliminator"])

# If "outcome_eliminator" is also null, fill "winner" with values from "outcome_result"
df["winner"] = df["winner"].fillna(df["outcome_result"])

df.drop(columns=["outcome_result", "outcome_eliminator"], inplace=True)

In [104]:
df[df['winner'].isnull()]

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground, city]
Index: []

In [105]:
df.reset_index(drop=True,inplace=True)
df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground,city
0,1441133,2024,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,Rwanda,Malawi,bat,Malawi,"Sikh Union Club Ground, Nairobi",Nairobi
1,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...,Hambantota
2,1415754,2024,2024-06-27,ICC Men's T20 World Cup,male,T20,India,England,England,field,India,"Providence Stadium, Guyana",Providence
3,1410229,2024,2024-06-26,County Championship,male,MDM,Kent,Lancashire,Lancashire,field,Lancashire,"St Lawrence Ground, Canterbury",Canterbury
4,1410293,2024,2024-06-26,County Championship,male,MDM,Sussex,Leicestershire,Leicestershire,field,Sussex,"County Ground, Hove",Brighton
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17230,64816,2003,2003-01-04,India tour of New Zealand,male,ODI,India,New Zealand,New Zealand,field,New Zealand,"Davies Park, Queenstown",Queenstown
17231,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch",Christchurch
17232,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,Melbourne Cricket Ground,Melbourne
17233,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier",Napier
17234,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban",Durban

### **Cleaning Ground Name**

In [106]:
df[df["ground"].isnull()]

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground, city]
Index: []

In [107]:
df[df["city"].isnull()]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground,city
599,1391926,2024,2024-03-27,Plunket Shield,male,MDM,Central Stags,Otago Volts,Central Stags,field,Central Stags,McLean Park,NaN
602,1391925,2024,2024-03-27,Plunket Shield,male,MDM,Northern Districts,Wellington Firebirds,Wellington Firebirds,bat,draw,Seddon Park,NaN
605,1391924,2024,2024-03-26,Plunket Shield,male,MDM,Auckland Aces,Canterbury,Canterbury,field,Canterbury,Kennards Hire Community Oval,NaN
626,1391923,2024,2024-03-19,Plunket Shield,male,MDM,Canterbury,Northern Districts,Canterbury,field,Canterbury,Mainpower Oval,NaN
628,1391921,2024,2024-03-19,Plunket Shield,male,MDM,Central Stags,Auckland Aces,Central Stags,field,Auckland Aces,McLean Park,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16938,217481,2005,2005-08-29,Videocon Triangular Series,male,ODI,India,Zimbabwe,Zimbabwe,field,India,Harare Sports Club,NaN
16945,214852,2005,2005-08-02,Indian Oil Cup,male,ODI,Sri Lanka,West Indies,Sri Lanka,bat,Sri Lanka,Rangiri Dambulla International Stadium,NaN
16946,214742,2005,2005-07-31,Indian Oil Cup,male,ODI,West Indies,India,West Indies,bat,India,Rangiri Dambulla International Stadium,NaN
16984,65666,2005,2005-02-04,VB Series,male,ODI,Australia,Pakistan,Australia,bat,Australia,Melbourne Cricket Ground,NaN
16990,65662,2005,2005-01-26,VB Series,male,ODI,Australia,West Indies,Australia,bat,Australia,Adelaide Oval,NaN

In [108]:
# Fill Null Values with ''
df['city'] = df['city'].fillna('')

# Concatenate 'ground' and 'city' columns
df.loc[:, 'ground'] = df['ground'] + "," + df['city']

# Drop the 'city' column
df = df.drop(columns="city")

# Remove any leading or trailing commas and spaces
df['ground'] = df['ground'].str.strip(', ')

In [109]:
def clean_ground_name(ground):
    if isinstance(ground, str):
        parts = ground.rsplit(',', 1)  # Split by the last comma
        if len(parts) == 2 and parts[0].endswith(parts[1]):
            return parts[0]
    return ground

def add_space_after_last_comma(value):
    if isinstance(value, str):
        last_comma_index = value.rfind(',')
        if last_comma_index != -1:
            value = value[:last_comma_index + 1] + ' ' + value[last_comma_index + 1:].strip()
    return value


# Apply the function to the 'ground' column
df['ground'] = df['ground'].apply(clean_ground_name)
df['ground'] = df['ground'].apply(add_space_after_last_comma)

# Display the modified DataFrame
df[:10]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1441133,2024,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,Rwanda,Malawi,bat,Malawi,"Sikh Union Club Ground, Nairobi"
1,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1415754,2024,2024-06-27,ICC Men's T20 World Cup,male,T20,India,England,England,field,India,"Providence Stadium, Guyana, Providence"
3,1410229,2024,2024-06-26,County Championship,male,MDM,Kent,Lancashire,Lancashire,field,Lancashire,"St Lawrence Ground, Canterbury"
4,1410293,2024,2024-06-26,County Championship,male,MDM,Sussex,Leicestershire,Leicestershire,field,Sussex,"County Ground, Hove, Brighton"
5,1410292,2024,2024-06-26,County Championship,male,MDM,Middlesex,Derbyshire,Middlesex,bat,Middlesex,"Lord's, London"
6,1410291,2024,2024-06-26,County Championship,male,MDM,Northamptonshire,Glamorgan,Northamptonshire,bat,draw,"Sophia Gardens, Cardiff"
7,1436890,2024,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
8,1398274,2024,2024-06-26,New Zealand Women tour of England,female,ODI,New Zealand,England,New Zealand,bat,England,"Riverside Ground, Chester-le-Street"
9,1410228,2024,2024-06-26,County Championship,male,MDM,Durham,Essex,Durham,bat,draw,"County Ground, Chelmsford"

In [110]:
# Sort the values in the 'ground' column and drop duplicates
ground_sorted = df['ground'].sort_values().drop_duplicates()

# Define the path to save the CSV file
output_path = r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\grounds.csv"

# Save the Series to a CSV file
ground_sorted.to_csv(output_path, index=False)

### **Replacing the Neccesary Features**

#### **Grounds**

In [111]:
replacement1 = {"Adelaide Oval" : "Adelaide Oval, Adelaide", 
                "Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium, Visakhapatnam" : "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam", # YSR Stadium
                "Dr. Y.S. Rajasekhara Reddy ACA VDCA Cricket Stadium" : "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam",
                "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1)" : "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1), Al Amarat",
                "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2)" : "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2), Al Amarat",
                "Antigua Recreation Ground, St John's" : "Antigua Recreation Ground, St John's, Antigua, St John's",
                "Antigua Recreation Ground, St John's, Antigua" : "Antigua Recreation Ground, St John's, Antigua, St John's",
                "Arnos Vale Ground, Kingstown" : "Arnos Vale Ground, Kingstown, St Vincent, Kingstown",
                "Arnos Vale Ground, Kingstown, St Vincent" : "Arnos Vale Ground, Kingstown, St Vincent, Kingstown",
                "Arun Jaitley Stadium" : "Arun Jaitley Stadium, Delhi", "Arundel Castle Cricket Club Ground" : "Arundel Castle Cricket Club Ground, Arundel",
                "Barabati Stadium" : "Barabati Stadium, Cuttack","Bay Oval" : "Bay Oval, Mount Maunganui",
                "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium" : "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",
                "Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium, Lucknow": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",
                "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B" : "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow" ,
                "Bready Cricket Club, Magheramason, Bready": "Bready Cricket Club, Magheramason, Londonderry", 
                "Brian Lara Stadium, Tarouba, Trinidad" : "Brian Lara Stadium, Tarouba, Trinidad, Tarouba",
                "Brisbane Cricket Ground, Brisbane" : "Brisbane Cricket Ground, Woolloongabba, Brisbane",
                "Bulawayo Athletic Club" : "Bulawayo Athletic Club, Bulawayo","Boland Park, Paarl" : "Boland Bank Park, Paarl","Bready, Derry" : "Bready Cricket Club, Magheramason, Londonderry",
                "Carrara Oval" : "Carrara Oval, Carrara","Colin Maiden Park" : "Colin Maiden Park, Auckland","Coolidge Cricket Ground, Antigua" : "Coolidge Cricket Ground, Antigua, Coolidge",
                "County Ground, Hove" : "County Ground, Hove, Brighton","Casey Fields No 4, Melbourne" : "Casey Fields No. 4, Melbourne",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Darren Sammy National Cricket Stadium, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia": "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Dr DY Patil Sports Academy, Mumbai" : "Dr DY Patil Sports Academy, Mumbai, Navi Mumbai", "Dubai International Cricket Stadium" : "Dubai International Cricket Stadium, Dubai", 
                "Dubai Sports City Cricket Stadium" : "Dubai International Cricket Stadium, Dubai",
                "Eden Gardens" : "Eden Gardens, Kolkata", "Eden Park" : "Eden Park, Auckland", "Entebbe Cricket Oval" : "Entebbe Cricket Oval, Entebbe", 
                "Edgbaston, Birmingham" : "Edgbaston Foundation Community Sports Ground, Birmingham", "Fitzherbert Park" : "Fitzherbert Park, Palmerston North", 
                "Gahanga International Cricket Stadium. Rwanda" : "Gahanga International Cricket Stadium, Rwanda, Kigali City",
                "Gahanga International Cricket Stadium. Rwanda, Kigali City" : "Gahanga International Cricket Stadium, Rwanda, Kigali City",
                "Galle International Stadium" : "Galle International Stadium, Galle", "Grainville, St Saviour" : "Grainville, St Saviour, Jersey, St Saviour",
                "Grange Cricket Club Ground, Raeburn Place, Edinburgh" : "Grange Cricket Club, Raeburn Place, Edinburgh",
                "Greenfield Stadium" : "Greenfield International Stadium, Thiruvananthapuram", "Hagley Oval" : "Hagley Oval, Christchurch","Harare Sports Club" : "Harare Sports Club, Harare" }

replacement2 = {"Himachal Pradesh Cricket Association Stadium, Dharamsala" : "Himachal Pradesh Cricket Association Stadium, Dharmasala",
                "Hong Kong Cricket Club" : "Hong Kong Cricket Club, Wong Nai Chung Gap", "Holkar Stadium" : "Holkar Cricket Stadium, Indore",
                "ICC Academy, Dubai" : "ICC Global Cricket Academy, Dubai","JSCA International Stadium Complex" : "JSCA International Stadium Complex, Ranchi",
                "Johor Cricket Academy Oval" : "Johor Cricket Academy Oval, Johor","Kensington Oval, Bridgetown": "Kensington Oval, Barbados, Bridgetown", 
                "Kensington Oval, Bridgetown, Barbados" : "Kensington Oval, Barbados, Bridgetown","Kensington Oval, Bridgetown, Barbados, Bridgetown" : "Kensington Oval, Barbados, Bridgetown",
                "Kinrara Oval, Kuala Lumpur" : "Kinrara Academy Oval, Kuala Lumpur", "Kyambogo Cricket Oval, Kampala" : "Kyambogo Cricket Ground, Kampala",
                "Lalbhai Contractor Stadium" : "Lalabhai Contractor Stadium, Surat", "M Chinnaswamy Stadium, Bangalore, Bengaluru" : "M Chinnaswamy Stadium, Bengaluru", 
                "M Chinnaswamy Stadium, Bangalore" : "M Chinnaswamy Stadium, Bengaluru","M.Chinnaswamy Stadium, Bengaluru" : "M Chinnaswamy Stadium, Bengaluru", 
                "MA Aziz Stadium, Chattogram" : "MA Aziz Stadium, Chittagong, Chattogram","MA Chidambaram Stadium, Chennai" : "MA Chidambaram Stadium, Chepauk, Chennai",
                "Mainpower Oval" : "Mainpower Oval, Rangiora","McLean Park" : "McLean Park, Napier", "Melbourne Cricket Ground" : "Melbourne Cricket Ground, Melbourne",
                "Mission Road Ground, Mong Kok, Hong Kong" : "Mission Road Ground, Mong Kok, Hong Kong, Mong Kok", "Moara Vlasiei Cricket Ground" : "Moara Vlasiei Cricket Ground, Ilfov County", 
                "Molyneux Park" : "Molyneux Park, Alexandra", "Multan Cricket Stadium" : "Multan Cricket Stadium, Multan",  
                "National Cricket Stadium, Grenada, St George's" : "National Cricket Stadium, St George's, Grenada", "National Cricket Stadium, St George's" : "National Cricket Stadium, St George's, Grenada",
                "National Cricket Stadium, St George's, Grenada, St George's" : "National Cricket Stadium, St George's, Grenada", "Nelson Park" : "Nelson Park, Napier",
                "Narendra Modi Stadium Ground 'A', Motera" : "Narendra Modi Stadium, Ahmedabad","Nehru Stadium, Poona, Pune": "Nehru Stadium, Pune",
                "Nehru Stadium" : "Nehru Stadium, Guwahati", "Old Hararians, Harare" : "Old Hararians Sports Club, Harare",
                "Pallekele International Cricket Stadium, Kandy" : "Pallekele International Cricket Stadium", "Pallekele International Cricket Stadium, Pallekele" : "Pallekele International Cricket Stadium",
                "Perth Stadium" : "Perth Stadium, Perth", "Providence Stadium, Guyana" : "Providence Stadium, Guyana, Providence", 
                "Punjab Cricket Association IS Bindra Stadium, Chandigarh" : "Punjab Cricket Association Stadium, Mohali, Chandigarh", 
                "Punjab Cricket Association IS Bindra Stadium, Mohali" : "Punjab Cricket Association Stadium, Mohali, Chandigarh",
                "Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh" : "Punjab Cricket Association Stadium, Mohali, Chandigarh",
                "Queen's Park Oval, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad","Queen's Park Oval, Port of Spain, Trinidad, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad",
                "Queen's Park" : "Queen's Park, Invercargill","Queen's Park Oval, Trinidad, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad", "Queenstown Events Centre" : "Queenstown Events Centre, Queenstown", 
                "R.Premadasa Stadium, Colombo" : "R.Premadasa Stadium, Khettarama, Colombo", "R Premadasa Stadium, Colombo" : "R.Premadasa Stadium, Khettarama, Colombo",
                "Rajiv Gandhi International Cricket Stadium, Dehradun, Dehra Dun" : "Rajiv Gandhi International Cricket Stadium, Dehradun"
                }

replacement3 = {"Rajiv Gandhi International Stadium, Hyderabad" : "Rajiv Gandhi International Stadium, Uppal, Hyderabad", "Rangiri Dambulla International Stadium" : "Rangiri Dambulla International Stadium, Dambulla", 
                "Rawalpindi Cricket Stadium" : "Rawalpindi Cricket Stadium, Rawalpindi","Reliance Cricket Stadium" : "Reliance Stadium, Vadodara", "Royal Chiangmai Golf Club" : "Royal Chiangmai Golf Club, Chiang Mai",
                "Sabina Park, Kingston, Jamaica, Kingston": "Sabina Park, Kingston, Jamaica" ,"Sabina Park, Jamaica, Kingston" : "Sabina Park, Kingston, Jamaica",
                "Sano International Cricket Ground" : "Sano International Cricket Ground, Sano", "Sardar Patel Stadium, Motera, Ahmedabad" : "Sardar Patel (Gujarat) Stadium, Motera, Ahmedabad",
                "Sardar Patel Stadium, Ahmedabad" : "Sardar Patel (Gujarat) Stadium, Motera, Ahmedabad", "Saurashtra Cricket Association Stadium" : "Saurashtra Cricket Association Stadium, Rajkot", 
                "Saxton Oval" : "Saxton Oval, Nelson", "Seddon Park" : "Seddon Park, Hamilton", "Shaheed Veer Narayan Singh International Stadium" : "Shaheed Veer Narayan Singh International Stadium, Raipur",
                "Sharjah Cricket Association Stadium" : "Sharjah Cricket Association Stadium, Sharjah", "Sharjah Cricket Stadium" : "Sharjah Cricket Association Stadium, Sharjah",
                "Sharjah Cricket Stadium, Sharjah" : "Sharjah Cricket Association Stadium, Sharjah",
                "Shere Bangla National Stadium, Dhaka" : "Shere Bangla National Stadium, Mirpur, Dhaka", "Shere Bangla National Stadium, Mirpur" : "Shere Bangla National Stadium, Mirpur, Dhaka", 
                "Simonds Stadium, South Geelong, Victoria" : "Simonds Stadium, South Geelong, Victoria, Geelong", "Singapore Cricket Club, Singapore" : "Singapore Cricket Club, Padang", 
                "Sher-e-Bangla National Cricket Stadium, Mirpur" : "Shere Bangla National Stadium, Mirpur, Dhaka", "Sinhalese Sports Club, Colombo" : "Sinhalese Sports Club Ground, Colombo", 
                "Sir Vivian Richards Stadium, Antigua, North Sound" : "Sir Vivian Richards Stadium, North Sound, Antigua", "Sir Vivian Richards Stadium, North Sound" : "Sir Vivian Richards Stadium, North Sound, Antigua",
                "Sir Vivian Richards Stadium, North Sound, Antigua, North Sound": "Sir Vivian Richards Stadium, North Sound, Antigua","Sportpark Westvliet, The Hague" : "Sportpark Westvliet, Voorburg, The Hague", 
                "Sportpark Westvliet, Voorburg" : "Sportpark Westvliet, Voorburg, The Hague", "Tafawa Balewa Square (TBS) Cricket Oval" : "Tafawa Balewa Square Cricket Oval, Lagos",
                "St George's Park, Gqeberha" : "St George's Park, Port Elizabeth, Gqeberha", "St George's Park, Port Elizabeth" : "St George's Park, Port Elizabeth, Gqeberha",
                "Sydney Cricket Ground" : "Sydney Cricket Ground, Sydney", "Sydney Showground Stadium" : "Sydney Showground Stadium, Sydney", 
                "Sylhet International Cricket Stadium" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet", 
                "Sylhet International Cricket Stadium, Sylhet" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet", "Sylhet Stadium" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet",
                "Takashinga Sports Club, Harare" : "Takashinga Sports Club, Highfield, Harare", "VRA Ground, Amstelveen" : "VRA Cricket Ground, Amstelveen", 
                "Vidarbha Cricket Association Stadium, Jamtha" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur", "Wanderers, Windhoek" : "Wanderers Cricket Ground, Windhoek",
                "Wankhede Stadium" : "Wankhede Stadium, Mumbai", "Warner Park, Basseterre": "Warner Park, Basseterre, St Kitts", "Warner Park, Basseterre, St Kitts, Basseterre": "Warner Park, Basseterre, St Kitts",
                "Warner Park, St Kitts, Basseterre": "Warner Park, Basseterre, St Kitts", "Vidarbha C.A. Ground, Nagpur" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur",
                "Vidarbha Cricket Association Ground, Nagpur" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur", "Zohur Ahmed Chowdhury Stadium, Chittagong" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram",
                "Zahur Ahmed Chowdhury Stadium, Chattogram" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram", "Zahur Ahmed Chowdhury Stadium, Chittagong" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram",
                "Westpac Stadium" : "Westpac Stadium, Wellington", "Windsor Park, Roseau, Dominica" : "Windsor Park, Roseau, Dominica, Roseau"
                 }

replacements = {**replacement1, **replacement2, **replacement3}

df['ground'] = df['ground'].replace(replacements)

print("Grounds: ",df['ground'].nunique())

Grounds:  539

In [112]:
# Sort the values in the 'ground' column and drop duplicates
ground_sorted = df['ground'].sort_values().drop_duplicates()

# Define the path to save the CSV file
output_path = r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\cleaned_grounds.csv"

# Save the Series to a CSV file
ground_sorted.to_csv(output_path, index=False)

#### **Teams**

In [113]:
teams = set(df["team1"]).union(set(df["team2"]))
teams_df = pd.DataFrame(list(teams), columns=["team"]).sort_values(by="team").drop_duplicates(ignore_index=True)
teams_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\teams.csv")

In [114]:
teams_df

                        team
0     "Durbans Super Giants"
1    Abu Dhabi Knight Riders
2          Adelaide Strikers
3                Afghanistan
4                  Africa XI
..                       ...
344           Worcestershire
345                Yorkshire
346       Yorkshire Diamonds
347                   Zambia
348                 Zimbabwe

[349 rows x 1 columns]

In [115]:
ipl = df[df["event_name"] == "Indian Premier League"]
ipl_teams = set(ipl["team1"]).union(ipl['team2'])
ipl_teams

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Royal Challengers Bengaluru',
 'Sunrisers Hyderabad'}

In [116]:
# Dictionary to map team name variations to abbreviations
team_name_mapping = {
    'Chennai Super Kings': 'CSK',
    'Deccan Chargers': 'SRH',
    'Delhi Capitals': 'DC',
    'Delhi Daredevils': 'DC',
    'Gujarat Lions': 'GL',
    'Gujarat Titans': 'GT',
    'Kings XI Punjab': 'PBKS',
    'Kochi Tuskers Kerala': 'KTK',
    'Kolkata Knight Riders': 'KKR',
    'Lucknow Super Giants': 'LSG',
    'Mumbai Indians': 'MI',
    'Pune Warriors': 'PW',
    'Punjab Kings': 'PBKS',
    'Rajasthan Royals': 'RR',
    'Rising Pune Supergiant': 'RPS',
    'Rising Pune Supergiants': 'RPS',
    'Royal Challengers Bangalore': 'RCB',
    'Royal Challengers Bengaluru': 'RCB',
    'Sunrisers Hyderabad': 'SRH',
    '"Durbans Super Giants"': "Durbans Super Giants",
    "United States Of America" : "USA"
}

# Apply the mapping to team1, team2, toss_winner, and winner columns
df['team1'] = df['team1'].replace(team_name_mapping)
df['team2'] = df['team2'].replace(team_name_mapping)
df["toss_winner"] = df['toss_winner'].replace(team_name_mapping)
df['winner'] = df['winner'].replace(team_name_mapping)

In [117]:
ipl = df[df["event_name"] == "Indian Premier League"]
ipl_teams = set(ipl["team1"]).union(ipl['team2'])
ipl_teams

{'CSK',
 'DC',
 'GL',
 'GT',
 'KKR',
 'KTK',
 'LSG',
 'MI',
 'PBKS',
 'PW',
 'RCB',
 'RPS',
 'RR',
 'SRH'}

### **Event**

In [118]:
replacements = {
    "NatWest T20 Blast": "Vitality Blast",
    "HRV Twenty20": "Super Smash",
    "HRV Cup": "Super Smash",
    "MiWAY T20 Challenge": "CSA T20 Challenge",
    "Ram Slam T20 Challenge": "CSA T20 Challenge", 
}


df["event_name"] = df["event_name"].replace(replacements, regex=True)

In [119]:
df['event_name'] = df['event_name'].replace("Indian Premier League","IPL", regex=True)

In [120]:
df[:10]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1441133,2024,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,Rwanda,Malawi,bat,Malawi,"Sikh Union Club Ground, Nairobi"
1,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1415754,2024,2024-06-27,ICC Men's T20 World Cup,male,T20,India,England,England,field,India,"Providence Stadium, Guyana, Providence"
3,1410229,2024,2024-06-26,County Championship,male,MDM,Kent,Lancashire,Lancashire,field,Lancashire,"St Lawrence Ground, Canterbury"
4,1410293,2024,2024-06-26,County Championship,male,MDM,Sussex,Leicestershire,Leicestershire,field,Sussex,"County Ground, Hove, Brighton"
5,1410292,2024,2024-06-26,County Championship,male,MDM,Middlesex,Derbyshire,Middlesex,bat,Middlesex,"Lord's, London"
6,1410291,2024,2024-06-26,County Championship,male,MDM,Northamptonshire,Glamorgan,Northamptonshire,bat,draw,"Sophia Gardens, Cardiff"
7,1436890,2024,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
8,1398274,2024,2024-06-26,New Zealand Women tour of England,female,ODI,New Zealand,England,New Zealand,bat,England,"Riverside Ground, Chester-le-Street"
9,1410228,2024,2024-06-26,County Championship,male,MDM,Durham,Essex,Durham,bat,draw,"County Ground, Chelmsford"

In [121]:
df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\summary_cleaned.csv")

In [122]:
df.head()

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1441133,2024,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,Rwanda,Malawi,bat,Malawi,"Sikh Union Club Ground, Nairobi"
1,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1415754,2024,2024-06-27,ICC Men's T20 World Cup,male,T20,India,England,England,field,India,"Providence Stadium, Guyana, Providence"
3,1410229,2024,2024-06-26,County Championship,male,MDM,Kent,Lancashire,Lancashire,field,Lancashire,"St Lawrence Ground, Canterbury"
4,1410293,2024,2024-06-26,County Championship,male,MDM,Sussex,Leicestershire,Leicestershire,field,Sussex,"County Ground, Hove, Brighton"

### **Summary**

In [123]:
import pandas as pd
summary_df = pd.read_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\summary_cleaned.csv")
summary_df.drop(columns="Unnamed: 0", inplace=True)
summary_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1441133,2024,2024-06-28,Twenty20 Quadrangular (in Kenya),male,T20,Malawi,Rwanda,Malawi,bat,Malawi,"Sikh Union Club Ground, Nairobi"
1,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1415754,2024,2024-06-27,ICC Men's T20 World Cup,male,T20,India,England,England,field,India,"Providence Stadium, Guyana, Providence"
3,1410229,2024,2024-06-26,County Championship,male,MDM,Kent,Lancashire,Lancashire,field,Lancashire,"St Lawrence Ground, Canterbury"
4,1410293,2024,2024-06-26,County Championship,male,MDM,Sussex,Leicestershire,Leicestershire,field,Sussex,"County Ground, Hove, Brighton"
...,...,...,...,...,...,...,...,...,...,...,...,...
17230,64816,2003,2003-01-04,India tour of New Zealand,male,ODI,India,New Zealand,New Zealand,field,New Zealand,"Davies Park, Queenstown"
17231,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch"
17232,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,"Melbourne Cricket Ground, Melbourne"
17233,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier"
17234,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban"

In [124]:
no_result_df = summary_df[(summary_df['winner'] != summary_df['team1']) & (summary_df['winner'] != summary_df['team2'])].reset_index(drop=True)
no_result_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1410291,2024,2024-06-26,County Championship,male,MDM,Northamptonshire,Glamorgan,Northamptonshire,bat,draw,"Sophia Gardens, Cardiff"
1,1410228,2024,2024-06-26,County Championship,male,MDM,Durham,Essex,Durham,bat,draw,"County Ground, Chelmsford"
2,1410230,2024,2024-06-26,County Championship,male,MDM,Nottinghamshire,Somerset,Nottinghamshire,bat,draw,"Trent Bridge, Nottingham"
3,1410231,2024,2024-06-26,County Championship,male,MDM,Hampshire,Warwickshire,Hampshire,bat,draw,"Edgbaston Foundation Community Sports Ground, ..."
4,1410438,2024,2024-06-21,Vitality Blast,male,T20,Northamptonshire,Leicestershire,Northamptonshire,bat,tie,"County Ground, Northampton"
...,...,...,...,...,...,...,...,...,...,...,...,...
1229,66356,2003,2003-04-21,TVS Cup (Bangladesh),male,ODI,India,South Africa,India,bat,no result,"Bangabandhu National Stadium, Dhaka"
1230,65273,2003,2003-03-04,ICC World Cup,male,ODI,Pakistan,Zimbabwe,Pakistan,bat,no result,"Queens Sports Club, Bulawayo"
1231,65272,2003,2003-03-03,ICC World Cup,male,ODI,Sri Lanka,South Africa,Sri Lanka,bat,tie,"Kingsmead, Durban"
1232,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,draw,"Bankstown Oval, Sydney"
1233,65249,2003,2003-02-18,ICC World Cup,male,ODI,West Indies,Bangladesh,Bangladesh,field,no result,"Willowmoore Park, Benoni"

In [125]:
no_result_df[no_result_df["event_name"] == "IPL"]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
174,1359519,2023,2023-05-03,IPL,male,T20,LSG,CSK,CSK,field,no result,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
576,1178424,2019,2019-04-30,IPL,male,T20,RCB,RR,RR,field,no result,"M Chinnaswamy Stadium, Bengaluru"
934,829813,2015,2015-05-17,IPL,male,T20,RCB,DC,RCB,field,no result,"M Chinnaswamy Stadium, Bengaluru"
942,829763,2015,2015-04-29,IPL,male,T20,RCB,RR,RR,field,no result,"M Chinnaswamy Stadium, Bengaluru"
1109,501265,2011,2011-05-21,IPL,male,T20,DC,PW,DC,bat,no result,"Feroz Shah Kotla, Delhi"

### **Gender**

In [126]:
summary_df['gender'].unique()

array(['male', 'female'], dtype=object)

### **Match type**

In [127]:
summary_df['match_type'].unique()

array(['T20', 'MDM', 'ODI', 'ODM', 'Test', 'IT20'], dtype=object)

In [128]:
summary_df['match_type'] = summary_df['match_type'].replace("IT20","T20",regex=False)

In [129]:
summary_df['match_type'].unique()

array(['T20', 'MDM', 'ODI', 'ODM', 'Test'], dtype=object)

In [130]:
summary_df["match_id"].duplicated().sum()

0

In [131]:
print("Length of Data Frame:", len(summary_df))
summary_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\male\summary_cleaned.csv")
summary_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\female\summary_cleaned.csv")

Length of Data Frame: 17235

In [132]:
male = summary_df[summary_df["gender"] == "male"]
female = summary_df[summary_df["gender"] == "female"]

In [133]:
male.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\male\male_summary_cleaned.csv")
female.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\female\female_summary_cleaned.csv")
match_types = summary_df["match_type"].drop_duplicates().reset_index(drop=True)
match_types.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\match_types.csv")

### **T20's**

In [134]:
import pandas as pd
# Enter the Gender
gender = input("Enter Gender: ").lower()

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{gender}_summary_cleaned.csv")
summary_df.drop(columns=["Unnamed: 0"], inplace=True)
summary_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
1,1436890,2024,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1398274,2024,2024-06-26,New Zealand Women tour of England,female,ODI,New Zealand,England,New Zealand,bat,England,"Riverside Ground, Chester-le-Street"
3,1436889,2024,2024-06-24,West Indies Women tour of Sri Lanka,female,T20,West Indies,Sri Lanka,Sri Lanka,field,Sri Lanka,Mahinda Rajapaksa International Cricket Stadiu...
4,1434289,2024,2024-06-23,South Africa Women tour of India,female,ODI,South Africa,India,South Africa,bat,India,"M Chinnaswamy Stadium, Bengaluru"
...,...,...,...,...,...,...,...,...,...,...,...,...
2937,271466,2007,2007-01-24,Pakistan Women tour of South Africa,female,ODI,Pakistan,South Africa,Pakistan,bat,South Africa,"Sinovich Park, Sinoville, Pretoria"
2938,271465,2007,2007-01-22,Pakistan Women tour of South Africa,female,ODI,South Africa,Pakistan,Pakistan,field,South Africa,"Harlequins, Pretoria"
2939,225164,2006,2006-08-11,India Women tour of Ireland and England,female,Test,England,India,England,bat,draw,"Grace Road, Leicester"
2940,216932,2005,2005-08-27,Australia Women tour of England,female,Test,Australia,England,England,field,England,"County Ground, New Road, Worcester"
2941,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,draw,"Bankstown Oval, Sydney"

In [135]:
t20 = summary_df[summary_df['match_type'] == "T20"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
t20[:5]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1436891,2024,2024-06-28,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
1,1436890,2024,2024-06-26,West Indies Women tour of Sri Lanka,female,T20,Sri Lanka,West Indies,West Indies,field,West Indies,Mahinda Rajapaksa International Cricket Stadiu...
2,1436889,2024,2024-06-24,West Indies Women tour of Sri Lanka,female,T20,West Indies,Sri Lanka,Sri Lanka,field,Sri Lanka,Mahinda Rajapaksa International Cricket Stadiu...
3,1410550,2024,2024-06-22,Charlotte Edwards Cup,female,T20,South East Stars,The Blaze,The Blaze,field,The Blaze,"County Ground, Derby"
4,1410549,2024,2024-06-22,Charlotte Edwards Cup,female,T20,South East Stars,Southern Vipers,Southern Vipers,field,South East Stars,"County Ground, Derby"

In [136]:
t20.isnull().sum()

match_id         0
season           0
match_date       0
event_name       4
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [137]:
t20.to_csv(rf"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\T20_{gender}_match_summary_cleaned.csv")

### **IT20's**

In [138]:
it20 = summary_df[summary_df['match_type'] == "IT20"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
it20

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground]
Index: []

In [139]:
it20.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [140]:
it20.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\IT20_{gender}_match_summary_cleaned.csv")

### **ODI's**

In [141]:
odi = summary_df[summary_df['match_type'] == "ODI"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
odi

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1398274,2024,2024-06-26,New Zealand Women tour of England,female,ODI,New Zealand,England,New Zealand,bat,England,"Riverside Ground, Chester-le-Street"
1,1434289,2024,2024-06-23,South Africa Women tour of India,female,ODI,South Africa,India,South Africa,bat,India,"M Chinnaswamy Stadium, Bengaluru"
2,1436888,2024,2024-06-21,West Indies Women tour of Sri Lanka,female,ODI,Sri Lanka,West Indies,West Indies,field,Sri Lanka,Mahinda Rajapaksa International Cricket Stadiu...
3,1434288,2024,2024-06-19,South Africa Women tour of India,female,ODI,India,South Africa,South Africa,field,India,"M Chinnaswamy Stadium, Bengaluru"
4,1436887,2024,2024-06-18,West Indies Women tour of Sri Lanka,female,ODI,West Indies,Sri Lanka,West Indies,bat,Sri Lanka,Mahinda Rajapaksa International Cricket Stadiu...
...,...,...,...,...,...,...,...,...,...,...,...,...
437,312295,2008,2008-02-22,ICC Women's World Cup Qualifying Series,female,ODI,Ireland,South Africa,Ireland,bat,South Africa,Stellenbosch University 1
438,312291,2008,2008-02-21,ICC Women's World Cup Qualifying Series,female,ODI,South Africa,Netherlands,South Africa,bat,South Africa,Stellenbosch University 1
439,276226,2007,2007-03-05,Women's Quadrangular Series,female,ODI,New Zealand,Australia,New Zealand,bat,Australia,"MA Chidambaram Stadium, Chepauk, Chennai"
440,271466,2007,2007-01-24,Pakistan Women tour of South Africa,female,ODI,Pakistan,South Africa,Pakistan,bat,South Africa,"Sinovich Park, Sinoville, Pretoria"
441,271465,2007,2007-01-22,Pakistan Women tour of South Africa,female,ODI,South Africa,Pakistan,Pakistan,field,South Africa,"Harlequins, Pretoria"

In [142]:
odi.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [143]:
odi.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\ODI_{gender}_match_summary_cleaned.csv")

### **ODM's**

In [144]:
odm = summary_df[summary_df['match_type'] == "ODM"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
odm

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1427829,2024,2024-05-08,Rachael Heyhoe Flint Trophy,female,ODM,Western Storm,The Blaze,The Blaze,field,The Blaze,"Trent Bridge, Nottingham"
1,1427828,2024,2024-05-08,Rachael Heyhoe Flint Trophy,female,ODM,Thunder,Central Sparks,Thunder,bat,Central Sparks,"Old Trafford, Manchester"
2,1427827,2024,2024-05-08,Rachael Heyhoe Flint Trophy,female,ODM,Southern Vipers,Sunrisers,Sunrisers,field,Sunrisers,"Radlett Cricket Club, Radlett"
3,1427826,2024,2024-05-08,Rachael Heyhoe Flint Trophy,female,ODM,Northern Diamonds,South East Stars,Northern Diamonds,bat,Northern Diamonds,"Kent County Cricket Ground, Beckenham"
4,1427825,2024,2024-05-06,Rachael Heyhoe Flint Trophy,female,ODM,The Blaze,Thunder,Thunder,field,Thunder,"Trent Bridge, Nottingham"
...,...,...,...,...,...,...,...,...,...,...,...,...
188,1073407,2017,2017-02-08,ICC Women's World Cup Qualifier,female,ODM,Scotland,South Africa,Scotland,bat,South Africa,"Mercantile Cricket Association Ground, Colombo"
189,1073406,2017,2017-02-08,ICC Women's World Cup Qualifier,female,ODM,India,Thailand,Thailand,bat,India,Colombo Cricket Club Ground
190,1073404,2017,2017-02-07,ICC Women's World Cup Qualifier,female,ODM,Bangladesh,Papua New Guinea,Bangladesh,bat,Bangladesh,Colombo Cricket Club Ground
191,1073402,2017,2017-02-07,ICC Women's World Cup Qualifier,female,ODM,Ireland,Zimbabwe,Zimbabwe,field,Ireland,"Mercantile Cricket Association Ground, Colombo"
192,1033707,2016,2016-07-15,ICC Women's World Cup Qualifying Series Europe...,female,ODM,Netherlands,Scotland,Netherlands,bat,Scotland,"Garon Park, Southend-on-Sea"

In [145]:
odm.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [146]:
odm.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\ODM_{gender}_match_summary_cleaned.csv")

### **MDM's**

In [147]:
mdm = summary_df[summary_df['match_type'] == "MDM"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
mdm

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground]
Index: []

In [148]:
mdm.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [149]:
mdm.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\MDM_{gender}_match_summary_cleaned.csv")

### **Test's**

In [150]:
test = summary_df[summary_df['match_type'] == "Test"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
test

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1375875,2024,2024-02-17,South Africa Women tour of Australia,female,Test,South Africa,Australia,Australia,field,Australia,"Western Australia Cricket Association Ground, ..."
1,1406077,2023,2023-12-24,Australia Women tour of India,female,Test,Australia,India,Australia,bat,India,"Wankhede Stadium, Mumbai"
2,1406076,2023,2023-12-16,England Women tour of India,female,Test,India,England,India,bat,India,"Dr DY Patil Sports Academy, Mumbai, Navi Mumbai"
3,1336073,2023,2023-06-26,Women's Ashes,female,Test,Australia,England,Australia,bat,Australia,"Trent Bridge, Nottingham"
4,1301327,2022,2022-06-30,South Africa Women tour of England,female,Test,South Africa,England,England,field,draw,"The Cooper Associates County Ground, Taunton"
5,1263571,2022,2022-01-30,Women's Ashes,female,Test,Australia,England,England,field,draw,"Manuka Oval, Canberra"
6,1263620,2021,2021-10-03,India Women tour of Australia,female,Test,India,Australia,Australia,field,draw,"Carrara Oval, Carrara"
7,1260093,2021,2021-06-19,India Women tour of England,female,Test,England,India,England,bat,draw,"County Ground, Bristol"
8,1168025,2019,2019-07-21,Australia Women tour of England,female,Test,England,Australia,Australia,bat,draw,"The Cooper Associates County Ground, Taunton"
9,1086066,2017,2017-11-12,Women's Ashes,female,Test,England,Australia,England,bat,draw,"North Sydney Oval, Sydney"
10,798375,2015,2015-08-14,Women's Ashes,female,Test,England,Australia,Australia,bat,Australia,"St Lawrence Ground, Canterbury"
11,722387,2014,2014-08-16,NaN,female,Test,England,India,India,field,India,"Sir Paul Getty's Ground, Wormsley"
12,593722,2013,2013-08-14,Women's Ashes,female,Test,England,Australia,Australia,bat,draw,"Sir Paul Getty's Ground, Wormsley"
13,474625,2011,2011-01-25,England Women tour of Australia,female,Test,England,Australia,England,bat,Australia,"Bankstown Oval, Sydney"
14,383288,2009,2009-07-13,Australia Women tour of England,female,Test,Australia,England,Australia,bat,draw,"County Ground, New Road, Worcester"
15,312450,2008,2008-02-18,England Women tour of Australia and New Zealand,female,Test,Australia,England,England,field,England,"Bradman Oval, Bowral"
16,225164,2006,2006-08-11,India Women tour of Ireland and England,female,Test,England,India,England,bat,draw,"Grace Road, Leicester"
17,216932,2005,2005-08-27,Australia Women tour of England,female,Test,Australia,England,England,field,England,"County Ground, New Road, Worcester"
18,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,draw,"Bankstown Oval, Sydney"

In [151]:
test.isnull().sum()

match_id         0
season           0
match_date       0
event_name       1
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [152]:
test.to_csv(rf"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\Test_{gender}_match_summary_cleaned.csv")