In [9]:
import pandas as  pd
df = pd.read_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\match_summary.csv", low_memory=False)
#df.drop(columns="Unnamed: 0", inplace=True)
print("Length of Data Frame:", len(df))
df.head(1)

Length of Data Frame: 17960

,balls_per_over,city,dates,event.match_number,event.name,gender,match_type,match_type_number,officials.match_referees,officials.reserve_umpires,...,event.sub_name,outcome.result,outcome.method,missing,event.stage,event.group,outcome.eliminator,toss.uncontested,bowl_out,outcome.bowl_out
0,6,Perth,"['2016-11-03', '2016-11-04', '2016-11-05', '20...",1.0,South Africa in Australia Test Series,male,Test,2230.0,['AJ Pycroft'],['SJ Nogajski'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['balls_per_over', 'city', 'dates', 'event.match_number', 'event.name',
       'gender', 'match_type', 'match_type_number', 'officials.match_referees',
       'officials.reserve_umpires', 'officials.tv_umpires',
       'officials.umpires', 'outcome.by.runs', 'outcome.winner',
       'player_of_match', 'season', 'team_type', 'teams', 'toss.decision',
       'toss.winner', 'venue', 'match_id', 'outcome.by.innings',
       'outcome.by.wickets', 'overs', 'event.sub_name', 'outcome.result',
       'outcome.method', 'missing', 'event.stage', 'event.group',
       'outcome.eliminator', 'toss.uncontested', 'bowl_out',
       'outcome.bowl_out'],
      dtype='object')

In [11]:
df.drop(columns=['balls_per_over','outcome.by.runs',"match_type_number", 'overs','outcome.by.innings','event.match_number','outcome.by.wickets', 'officials.umpires','outcome.method',  'missing',  
                 'officials.reserve_umpires', 'officials.match_referees',"team_type", 'bowl_out',"officials.tv_umpires","event.stage",'event.sub_name', "player_of_match",'event.stage', 'event.group','toss.uncontested',
                 'outcome.bowl_out'], inplace=True)

In [12]:
df.head()

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
0,Perth,"['2016-11-03', '2016-11-04', '2016-11-05', '20...",South Africa in Australia Test Series,male,Test,South Africa,2016/17,"['Australia', 'South Africa']",bat,South Africa,Western Australia Cricket Association Ground,1000851,NaN,NaN
1,Hobart,"['2016-11-12', '2016-11-13', '2016-11-14', '20...",South Africa in Australia Test Series,male,Test,South Africa,2016/17,"['Australia', 'South Africa']",field,South Africa,Bellerive Oval,1000853,NaN,NaN
2,NaN,"['2016-11-24', '2016-11-25', '2016-11-26', '20...",South Africa in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'South Africa']",bat,South Africa,Adelaide Oval,1000855,NaN,NaN
3,Brisbane,"['2016-12-15', '2016-12-16', '2016-12-17', '20...",Pakistan in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'Pakistan']",bat,Australia,"Brisbane Cricket Ground, Woolloongabba",1000881,NaN,NaN
4,NaN,"['2016-12-26', '2016-12-27', '2016-12-28', '20...",Pakistan in Australia Test Series,male,Test,Australia,2016/17,"['Australia', 'Pakistan']",bat,Pakistan,Melbourne Cricket Ground,1000883,NaN,NaN

In [13]:
df[df["dates"] == "['2020-10-03', '2020-10-04']"]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
4952,Birmingham,"['2020-10-03', '2020-10-04']",Vitality Blast,male,T20,Surrey,2020,"['Gloucestershire', 'Surrey']",field,Surrey,Edgbaston,1229397,NaN,NaN

### **Creating Date Column**

In [14]:
# Clean up the dates column
df['dates'] = df['dates'].str.strip("[]").str.replace("'", "").str.strip()

# Extract the latest date in cases where there are multiple dates
def extract_latest_date(date_str):
    dates = date_str.split(', ')
    if len(dates) > 1:
        return dates[-1]
    else:
        return dates[0]

df['dates'] = df['dates'].apply(extract_latest_date)

# Convert the dates to datetime format
df['dates'] = pd.to_datetime(df['dates'], errors='coerce')

# Sort DataFrame by dates
df = df.sort_values(by="dates", ascending=False)

df[:10]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
11747,Brisbane,2024-12-05,India Women tour of Australia,female,ODI,Australia,2024/25,"['India', 'Australia']",bat,India,"Allan Border Field, Brisbane",1426620,NaN,NaN
12672,Sylhet,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,2024/25,"['Ireland', 'Bangladesh']",bat,Ireland,Sylhet Stadium,1458414,NaN,NaN
12699,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Uganda,2024/25,"['Uganda', 'Rwanda']",field,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462921,NaN,NaN
12698,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Nigeria,2024/25,"['Nigeria', 'Botswana']",field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462919,NaN,NaN
12695,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,2024/25,"['Thailand', 'Hong Kong']",bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong",1462853,NaN,NaN
12694,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Namibia,2024/25,"['China', 'Namibia']",bat,China,"Mission Road Ground, Mong Kok, Hong Kong",1462852,NaN,NaN
12321,Bulawayo,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Zimbabwe,2024/25,"['Pakistan', 'Zimbabwe']",bat,Pakistan,"Queens Sports Club, Bulawayo",1444654,NaN,NaN
12701,Doha,2024-12-04,Bahrain Women tour of Qatar,female,T20,Qatar,2024/25,"['Bahrain', 'Qatar']",bat,Bahrain,"West End Park International Cricket Stadium, Doha",1463008,NaN,NaN
12697,Kigali City,2024-12-04,Africa Continental Cup,male,T20,Nigeria,2024/25,"['Rwanda', 'Nigeria']",bat,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462916,NaN,NaN
12696,Kigali City,2024-12-04,Africa Continental Cup,male,T20,Uganda,2024/25,"['Uganda', 'Botswana']",field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462912,NaN,NaN

In [15]:
df[df["match_id"].duplicated()]

Empty DataFrame
Columns: [city, dates, event.name, gender, match_type, outcome.winner, season, teams, toss.decision, toss.winner, venue, match_id, outcome.result, outcome.eliminator]
Index: []

In [16]:
# Drop duplicates based on 'match_id' and reset the index in the original DataFrame
df.drop_duplicates(subset="match_id", inplace=True)
df.reset_index(drop=True, inplace=True)

# Print the resulting DataFrame to verify
df[:10]

,city,dates,event.name,gender,match_type,outcome.winner,season,teams,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator
0,Brisbane,2024-12-05,India Women tour of Australia,female,ODI,Australia,2024/25,"['India', 'Australia']",bat,India,"Allan Border Field, Brisbane",1426620,NaN,NaN
1,Sylhet,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,2024/25,"['Ireland', 'Bangladesh']",bat,Ireland,Sylhet Stadium,1458414,NaN,NaN
2,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Uganda,2024/25,"['Uganda', 'Rwanda']",field,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462921,NaN,NaN
3,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Nigeria,2024/25,"['Nigeria', 'Botswana']",field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462919,NaN,NaN
4,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,2024/25,"['Thailand', 'Hong Kong']",bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong",1462853,NaN,NaN
5,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Namibia,2024/25,"['China', 'Namibia']",bat,China,"Mission Road Ground, Mong Kok, Hong Kong",1462852,NaN,NaN
6,Bulawayo,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Zimbabwe,2024/25,"['Pakistan', 'Zimbabwe']",bat,Pakistan,"Queens Sports Club, Bulawayo",1444654,NaN,NaN
7,Doha,2024-12-04,Bahrain Women tour of Qatar,female,T20,Qatar,2024/25,"['Bahrain', 'Qatar']",bat,Bahrain,"West End Park International Cricket Stadium, Doha",1463008,NaN,NaN
8,Kigali City,2024-12-04,Africa Continental Cup,male,T20,Nigeria,2024/25,"['Rwanda', 'Nigeria']",bat,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462916,NaN,NaN
9,Kigali City,2024-12-04,Africa Continental Cup,male,T20,Uganda,2024/25,"['Uganda', 'Botswana']",field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462912,NaN,NaN

In [17]:
df["dates"].dtype

dtype('<M8[ns]')

### **Seasons**

In [18]:
df["season"].unique()

array(['2024/25', '2024', '2023/24', '2023', '2022/23', '2022', '2021/22',
       '2021', '2020/21', '2020', '2019/20', '2019', '2018/19', '2018',
       '2017/18', '2017', '2016/17', '2016', '2015/16', '2015', '2014/15',
       '2014', '2013/14', '2013', '2012/13', '2012', '2011/12', '2011',
       '2010/11', '2010', '2009/10', '2009', '2008/09', '2008', '2007/08',
       '2007', '2006/07', '2006', '2005/06', '2005', '2004/05', '2004',
       '2003/04', '2003', '2002/03', '2001/02'], dtype=object)

In [19]:
df["season"] = df["dates"].dt.year

In [20]:
df["season"].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003,
       2002, 2001])

### **Create team columns**

In [21]:
# Splitting the teams into team1 and team2 columns
teams = df['teams'].str.strip("[]").str.replace("'", "").str.split(', ', expand=True)
df['team1'] = teams[0]
df['team2'] = teams[1]

# Dropping the original 'teams' column
df.drop('teams', axis=1, inplace=True)

df.reset_index(drop=True, inplace=True)
df.head()

,city,dates,event.name,gender,match_type,outcome.winner,season,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator,team1,team2
0,Brisbane,2024-12-05,India Women tour of Australia,female,ODI,Australia,2024,bat,India,"Allan Border Field, Brisbane",1426620,NaN,NaN,India,Australia
1,Sylhet,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,2024,bat,Ireland,Sylhet Stadium,1458414,NaN,NaN,Ireland,Bangladesh
2,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Uganda,2024,field,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462921,NaN,NaN,Uganda,Rwanda
3,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Nigeria,2024,field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462919,NaN,NaN,Nigeria,Botswana
4,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,2024,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong",1462853,NaN,NaN,Thailand,Hong Kong

In [22]:
df.columns

Index(['city', 'dates', 'event.name', 'gender', 'match_type', 'outcome.winner',
       'season', 'toss.decision', 'toss.winner', 'venue', 'match_id',
       'outcome.result', 'outcome.eliminator', 'team1', 'team2'],
      dtype='object')

### **Check Unique Values & Clean the Data**

In [23]:
print("No of Teams:",df["team1"].nunique())
df["team1"].unique()[:10]

No of Teams: 343

array(['India', 'Ireland', 'Uganda', 'Nigeria', 'Thailand', 'China',
       'Pakistan', 'Bahrain', 'Rwanda', 'Hong Kong'], dtype=object)

In [24]:
print("No of Teams:",df["team1"].nunique())
df["team2"].unique()[:10]

No of Teams: 343

array(['Australia', 'Bangladesh', 'Rwanda', 'Botswana', 'Hong Kong',
       'Namibia', 'Zimbabwe', 'Qatar', 'Nigeria', 'China'], dtype=object)

In [25]:
print("No of Outcomes:",df["team1"].nunique())
df["outcome.winner"].unique()[:10]

No of Outcomes: 343

array(['Australia', 'Ireland', 'Uganda', 'Nigeria', 'Thailand', 'Namibia',
       'Zimbabwe', 'Qatar', 'Hong Kong', 'South Africa'], dtype=object)

In [26]:
print("Toss Decisions:",df["toss.decision"].nunique())
df["toss.decision"].unique()

Toss Decisions: 2

array(['bat', 'field'], dtype=object)

In [27]:
print("Venues: ", df["venue"].nunique())
sorted(df["venue"].unique())[:10]

Venues:  823

[' Emerald Heights International School Ground',
 '7he Sevens Stadium, Dubai',
 'ACA Stadium, Barsapara',
 'ACA Stadium,Mangalagiri',
 'AMI Stadium',
 'Abhimanyu Cricket Academy, Dehradun',
 'Abu Dhabi Oval 1',
 'Abu Dhabi Oval 2',
 'Achimota Senior Secondary School A Field, Accra',
 'Achimota Senior Secondary School B Field, Accra']

In [28]:
df["match_type"].unique()

array(['ODI', 'T20', 'Test', 'MDM', 'ODM', 'IT20'], dtype=object)

In [29]:
# Display the updated DataFrame
print("Venues: ", df["venue"].nunique())
df[:5]

Venues:  823

,city,dates,event.name,gender,match_type,outcome.winner,season,toss.decision,toss.winner,venue,match_id,outcome.result,outcome.eliminator,team1,team2
0,Brisbane,2024-12-05,India Women tour of Australia,female,ODI,Australia,2024,bat,India,"Allan Border Field, Brisbane",1426620,NaN,NaN,India,Australia
1,Sylhet,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,2024,bat,Ireland,Sylhet Stadium,1458414,NaN,NaN,Ireland,Bangladesh
2,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Uganda,2024,field,Rwanda,"Gahanga International Cricket Stadium, Rwanda",1462921,NaN,NaN,Uganda,Rwanda
3,Kigali City,2024-12-05,Africa Continental Cup,male,T20,Nigeria,2024,field,Botswana,"Gahanga International Cricket Stadium, Rwanda",1462919,NaN,NaN,Nigeria,Botswana
4,Mong Kok,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,2024,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong",1462853,NaN,NaN,Thailand,Hong Kong

In [30]:
df.columns

Index(['city', 'dates', 'event.name', 'gender', 'match_type', 'outcome.winner',
       'season', 'toss.decision', 'toss.winner', 'venue', 'match_id',
       'outcome.result', 'outcome.eliminator', 'team1', 'team2'],
      dtype='object')

In [31]:
df = df[['match_id','season', 'dates','event.name', 'gender','match_type', 'team1', 'team2', 'toss.winner','toss.decision',  'outcome.winner', 'outcome.result', 'outcome.eliminator', 'venue', "city"]]

In [32]:
df.columns = ['match_id', 'season', 'match_date', 'event_name', 'gender', 'match_type', 'team1', 'team2','toss_winner', 'toss_decision', 'winner', 'outcome_result', 'outcome_eliminator','ground', 'city' ]

In [33]:
df.isnull().sum()

match_id                  0
season                    0
match_date                0
event_name               89
gender                    0
match_type                0
team1                     0
team2                     0
toss_winner               0
toss_decision             0
winner                 1356
outcome_result        16604
outcome_eliminator    17872
ground                    0
city                   1649
dtype: int64

### **Winner**

In [34]:
df[df['winner'].isnull()]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,outcome_result,outcome_eliminator,ground,city
17,1452143,2024,2024-12-01,Plunket Shield,male,MDM,Auckland Aces,Canterbury,Auckland Aces,bat,NaN,draw,NaN,"Eden Park Outer Oval, Auckland",Auckland
18,1452144,2024,2024-12-01,Plunket Shield,male,MDM,Otago Volts,Northern Districts,Northern Districts,field,NaN,draw,NaN,"Seddon Park, Hamilton",Hamilton
47,1444504,2024,2024-11-26,Sheffield Shield,male,MDM,Western Australia,South Australia,South Australia,field,NaN,draw,NaN,Adelaide Oval,Adelaide
75,1452142,2024,2024-11-22,Plunket Shield,male,MDM,Wellington Firebirds,Otago Volts,Otago Volts,field,NaN,draw,NaN,"University Oval, Dunedin",Dunedin
77,1442679,2024,2024-11-21,Women's Big Bash League,female,T20,Perth Scorchers,Sydney Sixers,Perth Scorchers,bat,NaN,tie,NaN,"Bellerive Oval, Hobart",Hobart
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,65273,2003,2003-03-04,ICC World Cup,male,ODI,Pakistan,Zimbabwe,Pakistan,bat,NaN,no result,NaN,"Queens Sports Club, Bulawayo",Bulawayo
17906,65272,2003,2003-03-03,ICC World Cup,male,ODI,Sri Lanka,South Africa,Sri Lanka,bat,NaN,tie,NaN,"Kingsmead, Durban",Durban
17916,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,NaN,draw,NaN,"Bankstown Oval, Sydney",Sydney
17927,65249,2003,2003-02-18,ICC World Cup,male,ODI,West Indies,Bangladesh,Bangladesh,field,NaN,no result,NaN,"Willowmoore Park, Benoni",Benoni
17959,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,NaN,draw,NaN,"M Chinnaswamy Stadium, Bangalore",Bengaluru

In [35]:
# Check if "winner" column is null, and if so, fill it with values from "outcome_eliminator"
df["winner"] = df["winner"].fillna(df["outcome_eliminator"])

# If "outcome_eliminator" is also null, fill "winner" with values from "outcome_result"
df["winner"] = df["winner"].fillna(df["outcome_result"])

df.drop(columns=["outcome_result", "outcome_eliminator"], inplace=True)

In [36]:
df[df['winner'].isnull()]

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground, city]
Index: []

In [37]:
df.reset_index(drop=True,inplace=True)
df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground,city
0,1426620,2024,2024-12-05,India Women tour of Australia,female,ODI,India,Australia,India,bat,Australia,"Allan Border Field, Brisbane",Brisbane
1,1458414,2024,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,Bangladesh,Ireland,bat,Ireland,Sylhet Stadium,Sylhet
2,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda",Kigali City
3,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda",Kigali City
4,1462853,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,Hong Kong,Thailand,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong",Mong Kok
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17955,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch",Christchurch
17956,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,Melbourne Cricket Ground,Melbourne
17957,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban",Durban
17958,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier",Napier
17959,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,draw,"M Chinnaswamy Stadium, Bangalore",Bengaluru

### **Cleaning Ground Name**

In [38]:
df[df["ground"].isnull()]

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground, city]
Index: []

In [39]:
df[df["city"].isnull()]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground,city
1637,1391925,2024,2024-03-27,Plunket Shield,male,MDM,Northern Districts,Wellington Firebirds,Wellington Firebirds,bat,draw,Seddon Park,NaN
1640,1391926,2024,2024-03-27,Plunket Shield,male,MDM,Central Stags,Otago Volts,Central Stags,field,Central Stags,McLean Park,NaN
1644,1391924,2024,2024-03-26,Plunket Shield,male,MDM,Auckland Aces,Canterbury,Canterbury,field,Canterbury,Kennards Hire Community Oval,NaN
1665,1391921,2024,2024-03-19,Plunket Shield,male,MDM,Central Stags,Auckland Aces,Central Stags,field,Auckland Aces,McLean Park,NaN
1666,1391923,2024,2024-03-19,Plunket Shield,male,MDM,Canterbury,Northern Districts,Canterbury,field,Canterbury,Mainpower Oval,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17662,217481,2005,2005-08-29,Videocon Triangular Series,male,ODI,India,Zimbabwe,Zimbabwe,field,India,Harare Sports Club,NaN
17669,214852,2005,2005-08-02,Indian Oil Cup,male,ODI,Sri Lanka,West Indies,Sri Lanka,bat,Sri Lanka,Rangiri Dambulla International Stadium,NaN
17670,214742,2005,2005-07-31,Indian Oil Cup,male,ODI,West Indies,India,West Indies,bat,India,Rangiri Dambulla International Stadium,NaN
17707,65666,2005,2005-02-04,VB Series,male,ODI,Australia,Pakistan,Australia,bat,Australia,Melbourne Cricket Ground,NaN
17714,65662,2005,2005-01-26,VB Series,male,ODI,Australia,West Indies,Australia,bat,Australia,Adelaide Oval,NaN

In [40]:
# Fill Null Values with ''
df['city'] = df['city'].fillna('')

# Concatenate 'ground' and 'city' columns
df.loc[:, 'ground'] = df['ground'] + "," + df['city']

# Drop the 'city' column
df = df.drop(columns="city")

# Remove any leading or trailing commas and spaces
df['ground'] = df['ground'].str.strip(', ')

In [41]:
def clean_ground_name(ground):
    if isinstance(ground, str):
        parts = ground.rsplit(',', 1)  # Split by the last comma
        if len(parts) == 2 and parts[0].endswith(parts[1]):
            return parts[0]
    return ground

def add_space_after_last_comma(value):
    if isinstance(value, str):
        last_comma_index = value.rfind(',')
        if last_comma_index != -1:
            value = value[:last_comma_index + 1] + ' ' + value[last_comma_index + 1:].strip()
    return value


# Apply the function to the 'ground' column
df['ground'] = df['ground'].apply(clean_ground_name)
df['ground'] = df['ground'].apply(add_space_after_last_comma)

# Display the modified DataFrame
df[:10]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1426620,2024,2024-12-05,India Women tour of Australia,female,ODI,India,Australia,India,bat,Australia,"Allan Border Field, Brisbane"
1,1458414,2024,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,Bangladesh,Ireland,bat,Ireland,"Sylhet Stadium, Sylhet"
2,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
3,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462853,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,Hong Kong,Thailand,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."
5,1462852,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,China,Namibia,China,bat,Namibia,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."
6,1444654,2024,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Pakistan,Zimbabwe,Pakistan,bat,Zimbabwe,"Queens Sports Club, Bulawayo"
7,1463008,2024,2024-12-04,Bahrain Women tour of Qatar,female,T20,Bahrain,Qatar,Bahrain,bat,Qatar,"West End Park International Cricket Stadium, Doha"
8,1462916,2024,2024-12-04,Africa Continental Cup,male,T20,Rwanda,Nigeria,Rwanda,bat,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
9,1462912,2024,2024-12-04,Africa Continental Cup,male,T20,Uganda,Botswana,Botswana,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."

In [42]:
# Sort the values in the 'ground' column and drop duplicates
ground_sorted = df['ground'].sort_values().drop_duplicates()

# Define the path to save the CSV file
output_path = r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\grounds.csv"

# Save the Series to a CSV file
ground_sorted.to_csv(output_path, index=False)

### **Replacing the Neccesary Features**

#### **Grounds**

In [43]:
replacement1 = {"Adelaide Oval" : "Adelaide Oval, Adelaide", 
                "Andhra Cricket Association-Visakhapatnam District Cricket Association Stadium, Visakhapatnam" : "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam", # YSR Stadium
                "Dr. Y.S. Rajasekhara Reddy ACA VDCA Cricket Stadium" : "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam",
                "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1)" : "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1), Al Amarat",
                "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2)" : "Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2), Al Amarat",
                "Antigua Recreation Ground, St John's" : "Antigua Recreation Ground, St John's, Antigua, St John's",
                "Antigua Recreation Ground, St John's, Antigua" : "Antigua Recreation Ground, St John's, Antigua, St John's",
                "Arnos Vale Ground, Kingstown" : "Arnos Vale Ground, Kingstown, St Vincent, Kingstown",
                "Arnos Vale Ground, Kingstown, St Vincent" : "Arnos Vale Ground, Kingstown, St Vincent, Kingstown",
                "Arun Jaitley Stadium" : "Arun Jaitley Stadium, Delhi", "Arundel Castle Cricket Club Ground" : "Arundel Castle Cricket Club Ground, Arundel",
                "Barabati Stadium" : "Barabati Stadium, Cuttack","Bay Oval" : "Bay Oval, Mount Maunganui",
                "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium" : "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",
                "Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium, Lucknow": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",
                "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B" : "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow" ,
                "Bready Cricket Club, Magheramason, Bready": "Bready Cricket Club, Magheramason, Londonderry", 
                "Brian Lara Stadium, Tarouba, Trinidad" : "Brian Lara Stadium, Tarouba, Trinidad, Tarouba",
                "Brisbane Cricket Ground, Brisbane" : "Brisbane Cricket Ground, Woolloongabba, Brisbane",
                "Bulawayo Athletic Club" : "Bulawayo Athletic Club, Bulawayo","Boland Park, Paarl" : "Boland Bank Park, Paarl","Bready, Derry" : "Bready Cricket Club, Magheramason, Londonderry",
                "Carrara Oval" : "Carrara Oval, Carrara","Colin Maiden Park" : "Colin Maiden Park, Auckland","Coolidge Cricket Ground, Antigua" : "Coolidge Cricket Ground, Antigua, Coolidge",
                "County Ground, Hove" : "County Ground, Hove, Brighton","Casey Fields No 4, Melbourne" : "Casey Fields No. 4, Melbourne",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Darren Sammy National Cricket Stadium, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, Gros Islet, St Lucia" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Daren Sammy National Cricket Stadium, St Lucia, Gros Islet" : "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia": "Darren Sammy National Cricket Stadium, Gros Islet, St Lucia",
                "Dr DY Patil Sports Academy, Mumbai" : "Dr DY Patil Sports Academy, Mumbai, Navi Mumbai", "Dubai International Cricket Stadium" : "Dubai International Cricket Stadium, Dubai", 
                "Dubai Sports City Cricket Stadium" : "Dubai International Cricket Stadium, Dubai",
                "Eden Gardens" : "Eden Gardens, Kolkata", "Eden Park" : "Eden Park, Auckland", "Entebbe Cricket Oval" : "Entebbe Cricket Oval, Entebbe", 
                "Edgbaston, Birmingham" : "Edgbaston Foundation Community Sports Ground, Birmingham", "Fitzherbert Park" : "Fitzherbert Park, Palmerston North", 
                "Gahanga International Cricket Stadium. Rwanda" : "Gahanga International Cricket Stadium, Rwanda, Kigali City",
                "Gahanga International Cricket Stadium. Rwanda, Kigali City" : "Gahanga International Cricket Stadium, Rwanda, Kigali City",
                "Galle International Stadium" : "Galle International Stadium, Galle", "Grainville, St Saviour" : "Grainville, St Saviour, Jersey, St Saviour",
                "Grange Cricket Club Ground, Raeburn Place, Edinburgh" : "Grange Cricket Club, Raeburn Place, Edinburgh",
                "Greenfield Stadium" : "Greenfield International Stadium, Thiruvananthapuram", "Hagley Oval" : "Hagley Oval, Christchurch","Harare Sports Club" : "Harare Sports Club, Harare" }

replacement2 = {"Himachal Pradesh Cricket Association Stadium, Dharamsala" : "Himachal Pradesh Cricket Association Stadium, Dharmasala",
                "Hong Kong Cricket Club" : "Hong Kong Cricket Club, Wong Nai Chung Gap", "Holkar Stadium" : "Holkar Cricket Stadium, Indore",
                "ICC Academy, Dubai" : "ICC Global Cricket Academy, Dubai","JSCA International Stadium Complex" : "JSCA International Stadium Complex, Ranchi",
                "Johor Cricket Academy Oval" : "Johor Cricket Academy Oval, Johor","Kensington Oval, Bridgetown": "Kensington Oval, Barbados, Bridgetown", 
                "Kensington Oval, Bridgetown, Barbados" : "Kensington Oval, Barbados, Bridgetown","Kensington Oval, Bridgetown, Barbados, Bridgetown" : "Kensington Oval, Barbados, Bridgetown",
                "Kinrara Oval, Kuala Lumpur" : "Kinrara Academy Oval, Kuala Lumpur", "Kyambogo Cricket Oval, Kampala" : "Kyambogo Cricket Ground, Kampala",
                "Lalbhai Contractor Stadium" : "Lalabhai Contractor Stadium, Surat", "M Chinnaswamy Stadium, Bangalore, Bengaluru" : "M Chinnaswamy Stadium, Bengaluru", 
                "M Chinnaswamy Stadium, Bangalore" : "M Chinnaswamy Stadium, Bengaluru","M.Chinnaswamy Stadium, Bengaluru" : "M Chinnaswamy Stadium, Bengaluru", 
                "MA Aziz Stadium, Chattogram" : "MA Aziz Stadium, Chittagong, Chattogram","MA Chidambaram Stadium, Chennai" : "MA Chidambaram Stadium, Chepauk, Chennai",
                "Mainpower Oval" : "Mainpower Oval, Rangiora","McLean Park" : "McLean Park, Napier", "Melbourne Cricket Ground" : "Melbourne Cricket Ground, Melbourne",
                "Mission Road Ground, Mong Kok, Hong Kong" : "Mission Road Ground, Mong Kok, Hong Kong, Mong Kok", "Moara Vlasiei Cricket Ground" : "Moara Vlasiei Cricket Ground, Ilfov County", 
                "Molyneux Park" : "Molyneux Park, Alexandra", "Multan Cricket Stadium" : "Multan Cricket Stadium, Multan",  
                "National Cricket Stadium, Grenada, St George's" : "National Cricket Stadium, St George's, Grenada", "National Cricket Stadium, St George's" : "National Cricket Stadium, St George's, Grenada",
                "National Cricket Stadium, St George's, Grenada, St George's" : "National Cricket Stadium, St George's, Grenada", "Nelson Park" : "Nelson Park, Napier",
                "Narendra Modi Stadium Ground 'A', Motera" : "Narendra Modi Stadium, Ahmedabad","Nehru Stadium, Poona, Pune": "Nehru Stadium, Pune",
                "Nehru Stadium" : "Nehru Stadium, Guwahati", "Old Hararians, Harare" : "Old Hararians Sports Club, Harare",
                "Pallekele International Cricket Stadium, Kandy" : "Pallekele International Cricket Stadium", "Pallekele International Cricket Stadium, Pallekele" : "Pallekele International Cricket Stadium",
                "Perth Stadium" : "Perth Stadium, Perth", "Providence Stadium, Guyana" : "Providence Stadium, Guyana, Providence", 
                "Punjab Cricket Association IS Bindra Stadium, Chandigarh" : "Punjab Cricket Association Stadium, Mohali, Chandigarh", 
                "Punjab Cricket Association IS Bindra Stadium, Mohali" : "Punjab Cricket Association Stadium, Mohali, Chandigarh",
                "Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh" : "Punjab Cricket Association Stadium, Mohali, Chandigarh",
                "Queen's Park Oval, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad","Queen's Park Oval, Port of Spain, Trinidad, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad",
                "Queen's Park" : "Queen's Park, Invercargill","Queen's Park Oval, Trinidad, Port of Spain": "Queen's Park Oval, Port of Spain, Trinidad", "Queenstown Events Centre" : "Queenstown Events Centre, Queenstown", 
                "R.Premadasa Stadium, Colombo" : "R.Premadasa Stadium, Khettarama, Colombo", "R Premadasa Stadium, Colombo" : "R.Premadasa Stadium, Khettarama, Colombo",
                "Rajiv Gandhi International Cricket Stadium, Dehradun, Dehra Dun" : "Rajiv Gandhi International Cricket Stadium, Dehradun"
                }

replacement3 = {"Rajiv Gandhi International Stadium, Hyderabad" : "Rajiv Gandhi International Stadium, Uppal, Hyderabad", "Rangiri Dambulla International Stadium" : "Rangiri Dambulla International Stadium, Dambulla", 
                "Rawalpindi Cricket Stadium" : "Rawalpindi Cricket Stadium, Rawalpindi","Reliance Cricket Stadium" : "Reliance Stadium, Vadodara", "Royal Chiangmai Golf Club" : "Royal Chiangmai Golf Club, Chiang Mai",
                "Sabina Park, Kingston, Jamaica, Kingston": "Sabina Park, Kingston, Jamaica" ,"Sabina Park, Jamaica, Kingston" : "Sabina Park, Kingston, Jamaica",
                "Sano International Cricket Ground" : "Sano International Cricket Ground, Sano", "Sardar Patel Stadium, Motera, Ahmedabad" : "Sardar Patel (Gujarat) Stadium, Motera, Ahmedabad",
                "Sardar Patel Stadium, Ahmedabad" : "Sardar Patel (Gujarat) Stadium, Motera, Ahmedabad", "Saurashtra Cricket Association Stadium" : "Saurashtra Cricket Association Stadium, Rajkot", 
                "Saxton Oval" : "Saxton Oval, Nelson", "Seddon Park" : "Seddon Park, Hamilton", "Shaheed Veer Narayan Singh International Stadium" : "Shaheed Veer Narayan Singh International Stadium, Raipur",
                "Sharjah Cricket Association Stadium" : "Sharjah Cricket Association Stadium, Sharjah", "Sharjah Cricket Stadium" : "Sharjah Cricket Association Stadium, Sharjah",
                "Sharjah Cricket Stadium, Sharjah" : "Sharjah Cricket Association Stadium, Sharjah",
                "Shere Bangla National Stadium, Dhaka" : "Shere Bangla National Stadium, Mirpur, Dhaka", "Shere Bangla National Stadium, Mirpur" : "Shere Bangla National Stadium, Mirpur, Dhaka", 
                "Simonds Stadium, South Geelong, Victoria" : "Simonds Stadium, South Geelong, Victoria, Geelong", "Singapore Cricket Club, Singapore" : "Singapore Cricket Club, Padang", 
                "Sher-e-Bangla National Cricket Stadium, Mirpur" : "Shere Bangla National Stadium, Mirpur, Dhaka", "Sinhalese Sports Club, Colombo" : "Sinhalese Sports Club Ground, Colombo", 
                "Sir Vivian Richards Stadium, Antigua, North Sound" : "Sir Vivian Richards Stadium, North Sound, Antigua", "Sir Vivian Richards Stadium, North Sound" : "Sir Vivian Richards Stadium, North Sound, Antigua",
                "Sir Vivian Richards Stadium, North Sound, Antigua, North Sound": "Sir Vivian Richards Stadium, North Sound, Antigua","Sportpark Westvliet, The Hague" : "Sportpark Westvliet, Voorburg, The Hague", 
                "Sportpark Westvliet, Voorburg" : "Sportpark Westvliet, Voorburg, The Hague", "Tafawa Balewa Square (TBS) Cricket Oval" : "Tafawa Balewa Square Cricket Oval, Lagos",
                "St George's Park, Gqeberha" : "St George's Park, Port Elizabeth, Gqeberha", "St George's Park, Port Elizabeth" : "St George's Park, Port Elizabeth, Gqeberha",
                "Sydney Cricket Ground" : "Sydney Cricket Ground, Sydney", "Sydney Showground Stadium" : "Sydney Showground Stadium, Sydney", 
                "Sylhet International Cricket Stadium" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet", 
                "Sylhet International Cricket Stadium, Sylhet" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet", "Sylhet Stadium" : "Sylhet International Cricket Stadium, Academy Ground, Sylhet",
                "Takashinga Sports Club, Harare" : "Takashinga Sports Club, Highfield, Harare", "VRA Ground, Amstelveen" : "VRA Cricket Ground, Amstelveen", 
                "Vidarbha Cricket Association Stadium, Jamtha" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur", "Wanderers, Windhoek" : "Wanderers Cricket Ground, Windhoek",
                "Wankhede Stadium" : "Wankhede Stadium, Mumbai", "Warner Park, Basseterre": "Warner Park, Basseterre, St Kitts", "Warner Park, Basseterre, St Kitts, Basseterre": "Warner Park, Basseterre, St Kitts",
                "Warner Park, St Kitts, Basseterre": "Warner Park, Basseterre, St Kitts", "Vidarbha C.A. Ground, Nagpur" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur",
                "Vidarbha Cricket Association Ground, Nagpur" : "Vidarbha Cricket Association Stadium, Jamtha, Nagpur", "Zohur Ahmed Chowdhury Stadium, Chittagong" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram",
                "Zahur Ahmed Chowdhury Stadium, Chattogram" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram", "Zahur Ahmed Chowdhury Stadium, Chittagong" : "Zahur Ahmed Chowdhury Stadium, Chittagong, Chattogram",
                "Westpac Stadium" : "Westpac Stadium, Wellington", "Windsor Park, Roseau, Dominica" : "Windsor Park, Roseau, Dominica, Roseau"
                 }

replacements = {**replacement1, **replacement2, **replacement3}

df['ground'] = df['ground'].replace(replacements)

print("Grounds: ",df['ground'].nunique())

Grounds:  560

In [44]:
# Sort the values in the 'ground' column and drop duplicates
ground_sorted = df['ground'].sort_values().drop_duplicates()

# Define the path to save the CSV file
output_path = r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\cleaned_grounds.csv"

# Save the Series to a CSV file
ground_sorted.to_csv(output_path, index=False)

#### **Teams**

In [45]:
teams = set(df["team1"]).union(set(df["team2"]))
teams_df = pd.DataFrame(list(teams), columns=["team"]).sort_values(by="team").drop_duplicates(ignore_index=True)
teams_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\teams.csv")

In [53]:
teams_df

                        team
0     "Durbans Super Giants"
1    Abu Dhabi Knight Riders
2          Adelaide Strikers
3                  Africa XI
4                     Andhra
..                       ...
342           Worcestershire
343                Yorkshire
344       Yorkshire Diamonds
345                   Zambia
346                 Zimbabwe

[347 rows x 1 columns]

In [54]:
import pandas as pd
import re

# Define a function to remove symbols
def remove_symbols(text):
    if pd.notna(text):  # Check if the value is not NaN
        # Remove all non-alphanumeric characters (except spaces)
        text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
        return text
    return text  # Return as is for NaN or None

In [55]:
# Apply the function to the 'team' column
teams_df["team"] = teams_df["team"].apply(remove_symbols)

In [56]:
teams_df

                        team
0       Durbans Super Giants
1    Abu Dhabi Knight Riders
2          Adelaide Strikers
3                  Africa XI
4                     Andhra
..                       ...
342           Worcestershire
343                Yorkshire
344       Yorkshire Diamonds
345                   Zambia
346                 Zimbabwe

[347 rows x 1 columns]

In [57]:
ipl = df[df["event_name"] == "Indian Premier League"]
ipl_teams = set(ipl["team1"]).union(ipl['team2'])
ipl_teams

{'CSK',
 'DC',
 'GL',
 'GT',
 'KKR',
 'KTK',
 'LSG',
 'MI',
 'PBKS',
 'PW',
 'RCB',
 'RPS',
 'RR',
 'SRH'}

In [58]:
# Dictionary to map team name variations to abbreviations
team_name_mapping = {
    'Chennai Super Kings': 'CSK',
    'Deccan Chargers': 'SRH',
    'Delhi Capitals': 'DC',
    'Delhi Daredevils': 'DC',
    'Gujarat Lions': 'GL',
    'Gujarat Titans': 'GT',
    'Kings XI Punjab': 'PBKS',
    'Kochi Tuskers Kerala': 'KTK',
    'Kolkata Knight Riders': 'KKR',
    'Lucknow Super Giants': 'LSG',
    'Mumbai Indians': 'MI',
    'Pune Warriors': 'PW',
    'Punjab Kings': 'PBKS',
    'Rajasthan Royals': 'RR',
    'Rising Pune Supergiant': 'RPS',
    'Rising Pune Supergiants': 'RPS',
    'Royal Challengers Bangalore': 'RCB',
    'Royal Challengers Bengaluru': 'RCB',
    'Sunrisers Hyderabad': 'SRH',
    '"Durbans Super Giants"': "Durbans Super Giants",
    "United States Of America" : "USA"
}

# Apply the mapping to team1, team2, toss_winner, and winner columns
df['team1'] = df['team1'].replace(team_name_mapping)
df['team2'] = df['team2'].replace(team_name_mapping)
df["toss_winner"] = df['toss_winner'].replace(team_name_mapping)
df['winner'] = df['winner'].replace(team_name_mapping)

In [59]:
ipl = df[df["event_name"] == "Indian Premier League"]
ipl_teams = set(ipl["team1"]).union(ipl['team2'])
ipl_teams

{'CSK',
 'DC',
 'GL',
 'GT',
 'KKR',
 'KTK',
 'LSG',
 'MI',
 'PBKS',
 'PW',
 'RCB',
 'RPS',
 'RR',
 'SRH'}

### **Event**

In [72]:
replacements = {
    "NatWest T20 Blast": "Vitality Blast",
    "HRV Twenty20": "Super Smash",
    "HRV Cup": "Super Smash",
    "MiWAY T20 Challenge": "CSA T20 Challenge",
    "Ram Slam T20 Challenge": "CSA T20 Challenge", 
}


df["event_name"] = df["event_name"].replace(replacements, regex=True)

In [73]:
df['event_name'] = df['event_name'].replace("Indian Premier League","IPL", regex=True)

In [74]:
df[:10]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1426620,2024,2024-12-05,India Women tour of Australia,female,ODI,India,Australia,India,bat,Australia,"Allan Border Field, Brisbane"
1,1458414,2024,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,Bangladesh,Ireland,bat,Ireland,"Sylhet Stadium, Sylhet"
2,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
3,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462853,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,Hong Kong,Thailand,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."
5,1462852,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,China,Namibia,China,bat,Namibia,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."
6,1444654,2024,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Pakistan,Zimbabwe,Pakistan,bat,Zimbabwe,"Queens Sports Club, Bulawayo"
7,1463008,2024,2024-12-04,Bahrain Women tour of Qatar,female,T20,Bahrain,Qatar,Bahrain,bat,Qatar,"West End Park International Cricket Stadium, Doha"
8,1462916,2024,2024-12-04,Africa Continental Cup,male,T20,Rwanda,Nigeria,Rwanda,bat,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
9,1462912,2024,2024-12-04,Africa Continental Cup,male,T20,Uganda,Botswana,Botswana,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."

In [75]:
df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\summary_cleaned.csv")

In [76]:
df.head()

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1426620,2024,2024-12-05,India Women tour of Australia,female,ODI,India,Australia,India,bat,Australia,"Allan Border Field, Brisbane"
1,1458414,2024,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,Bangladesh,Ireland,bat,Ireland,"Sylhet Stadium, Sylhet"
2,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
3,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462853,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,Hong Kong,Thailand,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."

### **Summary**

In [77]:
import pandas as pd
summary_df = pd.read_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\summary_cleaned.csv")
summary_df.drop(columns="Unnamed: 0", inplace=True)
summary_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1426620,2024,2024-12-05,India Women tour of Australia,female,ODI,India,Australia,India,bat,Australia,"Allan Border Field, Brisbane"
1,1458414,2024,2024-12-05,Ireland Women tour of Bangladesh,female,T20,Ireland,Bangladesh,Ireland,bat,Ireland,"Sylhet Stadium, Sylhet"
2,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
3,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462853,2024,2024-12-05,Women's T20 Quadrangular Series (in Hong Kong),female,T20,Thailand,Hong Kong,Thailand,bat,Thailand,"Mission Road Ground, Mong Kok, Hong Kong, Mong..."
...,...,...,...,...,...,...,...,...,...,...,...,...
17955,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch"
17956,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,"Melbourne Cricket Ground, Melbourne"
17957,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban"
17958,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier"
17959,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,draw,"M Chinnaswamy Stadium, Bengaluru"

In [78]:
no_result_df = summary_df[(summary_df['winner'] != summary_df['team1']) & (summary_df['winner'] != summary_df['team2'])].reset_index(drop=True)
no_result_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1452143,2024,2024-12-01,Plunket Shield,male,MDM,Auckland Aces,Canterbury,Auckland Aces,bat,draw,"Eden Park Outer Oval, Auckland"
1,1452144,2024,2024-12-01,Plunket Shield,male,MDM,Otago Volts,Northern Districts,Northern Districts,field,draw,"Seddon Park, Hamilton"
2,1444504,2024,2024-11-26,Sheffield Shield,male,MDM,Western Australia,South Australia,South Australia,field,draw,"Adelaide Oval, Adelaide"
3,1452142,2024,2024-11-22,Plunket Shield,male,MDM,Wellington Firebirds,Otago Volts,Otago Volts,field,draw,"University Oval, Dunedin"
4,1442679,2024,2024-11-21,Women's Big Bash League,female,T20,Perth Scorchers,Sydney Sixers,Perth Scorchers,bat,tie,"Bellerive Oval, Hobart"
...,...,...,...,...,...,...,...,...,...,...,...,...
1275,65273,2003,2003-03-04,ICC World Cup,male,ODI,Pakistan,Zimbabwe,Pakistan,bat,no result,"Queens Sports Club, Bulawayo"
1276,65272,2003,2003-03-03,ICC World Cup,male,ODI,Sri Lanka,South Africa,Sri Lanka,bat,tie,"Kingsmead, Durban"
1277,67517,2003,2003-02-25,England Women tour of Australia,female,Test,Australia,England,England,field,draw,"Bankstown Oval, Sydney"
1278,65249,2003,2003-02-18,ICC World Cup,male,ODI,West Indies,Bangladesh,Bangladesh,field,no result,"Willowmoore Park, Benoni"
1279,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,draw,"M Chinnaswamy Stadium, Bengaluru"

In [79]:
no_result_df[no_result_df["event_name"] == "IPL"]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
224,1359519,2023,2023-05-03,IPL,male,T20,LSG,CSK,CSK,field,no result,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
625,1178424,2019,2019-04-30,IPL,male,T20,RCB,RR,RR,field,no result,"M Chinnaswamy Stadium, Bengaluru"
980,829813,2015,2015-05-17,IPL,male,T20,RCB,DC,RCB,field,no result,"M Chinnaswamy Stadium, Bengaluru"
991,829763,2015,2015-04-29,IPL,male,T20,RCB,RR,RR,field,no result,"M Chinnaswamy Stadium, Bengaluru"
1154,501265,2011,2011-05-21,IPL,male,T20,DC,PW,DC,bat,no result,"Feroz Shah Kotla, Delhi"

### **Gender**

In [80]:
summary_df['gender'].unique()

array(['female', 'male'], dtype=object)

### **Match type**

In [81]:
summary_df['match_type'].unique()

array(['ODI', 'T20', 'Test', 'MDM', 'ODM', 'IT20'], dtype=object)

In [82]:
summary_df['match_type'] = summary_df['match_type'].replace("IT20","T20",regex=False)

In [83]:
summary_df['match_type'].unique()

array(['ODI', 'T20', 'Test', 'MDM', 'ODM'], dtype=object)

In [84]:
summary_df["match_id"].duplicated().sum()

0

In [85]:
print("Length of Data Frame:", len(summary_df))
summary_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\male\summary_cleaned.csv")
summary_df.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\female\summary_cleaned.csv")

Length of Data Frame: 17960

In [86]:
male = summary_df[summary_df["gender"] == "male"]
female = summary_df[summary_df["gender"] == "female"]

In [87]:
male.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\male\male_summary_cleaned.csv")
female.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\female\female_summary_cleaned.csv")
match_types = summary_df["match_type"].drop_duplicates().reset_index(drop=True)
match_types.to_csv(r"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\match_types.csv")

### **T20's**

In [88]:
import pandas as pd
# Enter the Gender
gender = input("Enter Gender: ").lower()

summary_df = pd.read_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\{gender}_summary_cleaned.csv")
summary_df.drop(columns=["Unnamed: 0"], inplace=True)
summary_df

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
1,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
2,1444654,2024,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Pakistan,Zimbabwe,Pakistan,bat,Zimbabwe,"Queens Sports Club, Bulawayo"
3,1462916,2024,2024-12-04,Africa Continental Cup,male,T20,Rwanda,Nigeria,Rwanda,bat,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462912,2024,2024-12-04,Africa Continental Cup,male,T20,Uganda,Botswana,Botswana,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
14713,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch"
14714,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,"Melbourne Cricket Ground, Melbourne"
14715,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban"
14716,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier"
14717,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,draw,"M Chinnaswamy Stadium, Bengaluru"

In [89]:
t20 = summary_df[summary_df['match_type'] == "T20"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
t20[:5]

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1462921,2024,2024-12-05,Africa Continental Cup,male,T20,Uganda,Rwanda,Rwanda,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."
1,1462919,2024,2024-12-05,Africa Continental Cup,male,T20,Nigeria,Botswana,Botswana,field,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
2,1444654,2024,2024-12-05,Pakistan tour of Zimbabwe,male,T20,Pakistan,Zimbabwe,Pakistan,bat,Zimbabwe,"Queens Sports Club, Bulawayo"
3,1462916,2024,2024-12-04,Africa Continental Cup,male,T20,Rwanda,Nigeria,Rwanda,bat,Nigeria,"Gahanga International Cricket Stadium, Rwanda,..."
4,1462912,2024,2024-12-04,Africa Continental Cup,male,T20,Uganda,Botswana,Botswana,field,Uganda,"Gahanga International Cricket Stadium, Rwanda,..."

In [90]:
t20.isnull().sum()

match_id          0
season            0
match_date        0
event_name       62
gender            0
match_type        0
team1             0
team2             0
toss_winner       0
toss_decision     0
winner            0
ground            0
dtype: int64

In [91]:
t20.to_csv(rf"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\T20_{gender}_match_summary_cleaned.csv")

### **IT20's**

In [92]:
it20 = summary_df[summary_df['match_type'] == "IT20"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
it20

Empty DataFrame
Columns: [match_id, season, match_date, event_name, gender, match_type, team1, team2, toss_winner, toss_decision, winner, ground]
Index: []

In [93]:
it20.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [94]:
it20.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\IT20_{gender}_match_summary_cleaned.csv")

### **ODI's**

In [95]:
odi = summary_df[summary_df['match_type'] == "ODI"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
odi

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1444651,2024,2024-11-28,Pakistan tour of Zimbabwe,male,ODI,Pakistan,Zimbabwe,Pakistan,bat,Pakistan,"Queens Sports Club, Bulawayo"
1,1444650,2024,2024-11-26,Pakistan tour of Zimbabwe,male,ODI,Zimbabwe,Pakistan,Zimbabwe,bat,Pakistan,"Queens Sports Club, Bulawayo"
2,1444649,2024,2024-11-24,Pakistan tour of Zimbabwe,male,ODI,Zimbabwe,Pakistan,Pakistan,field,Zimbabwe,"Queens Sports Club, Bulawayo"
3,1456445,2024,2024-11-19,New Zealand tour of Sri Lanka,male,ODI,New Zealand,Sri Lanka,New Zealand,bat,no result,Pallekele International Cricket Stadium
4,1456444,2024,2024-11-17,New Zealand tour of Sri Lanka,male,ODI,New Zealand,Sri Lanka,Sri Lanka,field,Sri Lanka,Pallekele International Cricket Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...
2386,65634,2003,2003-01-09,VB Series,male,ODI,Sri Lanka,Australia,Australia,field,Sri Lanka,"Sydney Cricket Ground, Sydney"
2387,64817,2003,2003-01-08,India tour of New Zealand,male,ODI,New Zealand,India,New Zealand,bat,India,"Westpac Stadium, Wellington"
2388,64816,2003,2003-01-04,India tour of New Zealand,male,ODI,India,New Zealand,New Zealand,field,New Zealand,"Davies Park, Queenstown"
2389,64815,2003,2003-01-01,India tour of New Zealand,male,ODI,India,New Zealand,India,bat,New Zealand,"Jade Stadium, Christchurch"
2390,64814,2002,2002-12-29,India tour of New Zealand,male,ODI,New Zealand,India,India,field,New Zealand,"McLean Park, Napier"

In [96]:
odi.isnull().sum()

match_id          0
season            0
match_date        0
event_name       14
gender            0
match_type        0
team1             0
team2             0
toss_winner       0
toss_decision     0
winner            0
ground            0
dtype: int64

In [97]:
odi.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\ODI_{gender}_match_summary_cleaned.csv")

### **ODM's**

In [98]:
odm = summary_df[summary_df['match_type'] == "ODM"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
odm

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1451906,2024,2024-11-16,CWC Challenge League,male,ODM,Singapore,Italy,Singapore,bat,Italy,"Lugogo Cricket Oval, Kampala"
1,1451905,2024,2024-11-15,CWC Challenge League,male,ODM,Hong Kong,Singapore,Hong Kong,bat,Hong Kong,"Entebbe Cricket Oval, Entebbe"
2,1451904,2024,2024-11-15,CWC Challenge League,male,ODM,Bahrain,Tanzania,Bahrain,bat,Bahrain,"Lugogo Cricket Oval, Kampala"
3,1451903,2024,2024-11-13,CWC Challenge League,male,ODM,Uganda,Italy,Uganda,bat,Uganda,"Entebbe Cricket Oval, Entebbe"
4,1451902,2024,2024-11-13,CWC Challenge League,male,ODM,Tanzania,Singapore,Singapore,field,no result,"Lugogo Cricket Oval, Kampala"
...,...,...,...,...,...,...,...,...,...,...,...,...
1222,467078,2010,2010-08-14,ICC World Cricket League Division Four,male,ODM,Nepal,United States of America,United States of America,field,no result,"Ovale di Rastignano, Pianoro"
1223,460048,2010,2010-06-01,ICC World Cricket League Americas Region Divis...,male,ODM,Bermuda,United States of America,United States of America,field,United States of America,"National Stadium, Hamilton"
1224,460045,2010,2010-05-31,ICC World Cricket League Americas Region Divis...,male,ODM,Bermuda,Cayman Islands,Cayman Islands,field,Bermuda,"National Stadium, Hamilton"
1225,460042,2010,2010-05-29,ICC World Cricket League Americas Region Divis...,male,ODM,United States of America,Canada,Canada,field,Canada,"National Stadium, Hamilton"
1226,460039,2010,2010-05-28,ICC World Cricket League Americas Region Divis...,male,ODM,Bahamas,Bermuda,Bermuda,field,Bermuda,"National Stadium, Hamilton"

In [99]:
odm.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [100]:
odm.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\ODM_{gender}_match_summary_cleaned.csv")

### **MDM's**

In [101]:
mdm = summary_df[summary_df['match_type'] == "MDM"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
mdm

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1452145,2024,2024-12-01,Plunket Shield,male,MDM,Wellington Firebirds,Central Stags,Wellington Firebirds,bat,Central Stags,"McLean Park, Napier"
1,1452144,2024,2024-12-01,Plunket Shield,male,MDM,Otago Volts,Northern Districts,Northern Districts,field,draw,"Seddon Park, Hamilton"
2,1452143,2024,2024-12-01,Plunket Shield,male,MDM,Auckland Aces,Canterbury,Auckland Aces,bat,draw,"Eden Park Outer Oval, Auckland"
3,1444506,2024,2024-11-27,Sheffield Shield,male,MDM,Victoria,Queensland,Victoria,bat,Victoria,"Brisbane Cricket Ground, Woolloongabba, Brisbane"
4,1444505,2024,2024-11-27,Sheffield Shield,male,MDM,Tasmania,New South Wales,New South Wales,field,Tasmania,"Sydney Cricket Ground, Sydney"
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,438938,2010,2010-02-23,ICC Intercontinental Shield,male,MDM,Netherlands,Kenya,Netherlands,bat,Kenya,"Gymkhana Club Ground, Nairobi"
1710,415161,2009,2009-08-17,ICC Intercontinental Shield,male,MDM,Kenya,Canada,Kenya,bat,Kenya,"Maple Leaf South-West Ground, King City"
1711,292302,2007,2007-11-04,ICC Intercontinental Cup,male,MDM,Bermuda,Kenya,Kenya,field,Kenya,"Gymkhana Club Ground, Nairobi"
1712,292300,2007,2007-10-15,ICC Intercontinental Cup,male,MDM,Canada,Kenya,Canada,bat,Kenya,"Gymkhana Club Ground, Nairobi"
1713,247219,2006,2006-12-07,ICC Intercontinental Cup,male,MDM,Canada,Netherlands,Canada,bat,Netherlands,"Sinovich Park, Sinoville, Pretoria"

In [102]:
mdm.isnull().sum()

match_id         0
season           0
match_date       0
event_name       0
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [103]:
mdm.to_csv(fr"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\MDM_{gender}_match_summary_cleaned.csv")

### **Test's**

In [104]:
test = summary_df[summary_df['match_type'] == "Test"].sort_values(by=["match_date","match_id"], ascending=False).reset_index(drop=True)
test

,match_id,season,match_date,event_name,gender,match_type,team1,team2,toss_winner,toss_decision,winner,ground
0,1433379,2024,2024-12-03,Bangladesh tour of West Indies,male,Test,Bangladesh,West Indies,Bangladesh,bat,Bangladesh,"Sabina Park, Kingston, Jamaica"
1,1428554,2024,2024-12-01,England tour of New Zealand,male,Test,New Zealand,England,England,field,England,"Hagley Oval, Christchurch"
2,1432209,2024,2024-11-30,Sri Lanka tour of South Africa,male,Test,South Africa,Sri Lanka,Sri Lanka,field,South Africa,"Kingsmead, Durban"
3,1433378,2024,2024-11-26,Bangladesh tour of West Indies,male,Test,West Indies,Bangladesh,Bangladesh,field,West Indies,"Sir Vivian Richards Stadium, North Sound, Antigua"
4,1426555,2024,2024-11-25,India tour of Australia,male,Test,India,Australia,India,bat,India,"Perth Stadium, Perth"
...,...,...,...,...,...,...,...,...,...,...,...,...
820,64013,2003,2003-01-06,England tour of Australia,male,Test,England,Australia,England,bat,England,"Sydney Cricket Ground, Sydney"
821,64023,2003,2003-01-05,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,South Africa,bat,South Africa,"Newlands, Cape Town"
822,64012,2002,2002-12-30,England tour of Australia,male,Test,Australia,England,Australia,bat,Australia,"Melbourne Cricket Ground, Melbourne"
823,64022,2002,2002-12-29,Pakistan tour of South Africa,male,Test,South Africa,Pakistan,Pakistan,field,South Africa,"Kingsmead, Durban"
824,63963,2001,2001-12-23,England tour of India,male,Test,England,India,England,bat,draw,"M Chinnaswamy Stadium, Bengaluru"

In [105]:
test.isnull().sum()

match_id         0
season           0
match_date       0
event_name       8
gender           0
match_type       0
team1            0
team2            0
toss_winner      0
toss_decision    0
winner           0
ground           0
dtype: int64

In [106]:
test.to_csv(rf"D:\GITHUB\Predictive-Analytics-for-Cricket-Matches-Using-Machine-Learning\source_data\Summary\match_summary\{gender}\Test_{gender}_match_summary_cleaned.csv")